#optionsContainer {
	padding-top:45px;
	clear:right;
	float: right;
	width: 230px;
}
#optionsContainer .disableOption {
	-ms-filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity:.5;
	opacity:.5
}
#optionsContainer .disableOption:hover {
	cursor:default!important
}
#optionsContainer .otherOption {
	float:left;
	width:214px;
	display:inline-block;
	color:#959595;
	text-shadow:0 1px #fff;
	font-size:1.4em
}
#optionsContainer .otherOption:hover {
	cursor:pointer
}
#optionsContainer .otherOption span {
	display:inline-block;
	margin-top:10px;
	width:145px;
	line-height:1.1em
}
#optionsContainer .otherOption .noSupport {
	font-size:11px;
	color:#111
}
#optionsContainer .otherOption .optionIcon {
	float:left;
	border:1px solid #c3c3c3;
	padding:1px;
	margin-right:10px;
	-o-box-shadow:inset 0 1px 0 0 #fff;
	-moz-box-shadow:inset 0 1px 0 0 #fff;
	-webkit-box-shadow:inset 0 1px 0 0 #fff;
	box-shadow:inset 0 1px 0 0 #fff;
	background:#e9e9e9;
	background:-webkit-gradient(linear, center top, center bottom, from(#f6f6f6), to(#e9e9e9));
	background:-moz-linear-gradient(top, #f6f6f6, #e9e9e9);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffe9e9e9', GradientType=0);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px
}
#optionsContainer .otherOption .optionIcon .optionImg {
	width:53px;
	height:53px;
	background-position:center;
	background-repeat:no-repeat
}
#optionsContainer .otherOption .optionIcon #webcamOption {
	background-image:url(../../drag_drop_user_pic/images/webcam.png?1330498049)
}
#optionsContainer .otherOption .optionIcon #uploadOption {
	background-image:url(../../drag_drop_user_pic/images/upload.png?1330498049)
}
#optionsContainer .otherOption .optionIcon #ddOption {
	background-image:url(../../drag_drop_user_pic/images/dd.png?1330498047)
}
#optionsContainer .otherOption:hover #webcamOption {
	background-image:url(../../drag_drop_user_pic/images/webcam-glow.gif?1330498049);
	background-position:-1px -2px
}
#optionsContainer .otherOption:hover #uploadOption {
	background-image:url(../../drag_drop_user_pic/images/upload-arrow.gif?1330498049);
	background-position:center 9px
}
#optionsContainer .take_photo {
	margin-left:0px;
	margin-right:30px;
	margin-bottom:40px
}
#optionsContainer .hidden {
	display:none
}