@charset "utf-8";
/* CSS Document */

body{
	padding:0;
}

#header{
  background:#e05284 !important;
  padding-top:0px !important;
}
#logo{
    padding-top:5px;
    float:left;
    padding-top:15px;
}
.form{
	float:left;
	padding-top:5px;
	padding-left:10px;
}
.bg5{
	height:36px !important;
	/*border:3px solid #a7a9ac !important;*/
	/*border-radius:20px !important;*/
	margin-top:10px !important;
}
.list{
	/*margin-top:15px !important;*/
	/*margin-bottom:5px !important;*/
	padding: 15px !important;
}
.list li{
	text-align:center;
	padding-left:5px;
}
.list li a{
	/*color:#FFFFFF!important;*/
	border-radius:20px;
	background:#68b4cb;
}
.active a{
	background:#666666 !important;
}
.list li a:hover{
	background:#E5E4E2 !important;
}
.bg1{
	background:#FFFFFF;
}
.text{
	font-size:15px;
	font-family:verdana;
	font-weight:bold;
	color:#666666;
    margin-top:20px !important;
}
.text1{
	font-size:15px;
	font-family:verdana;
	font-weight:bold;
	color:#666666;
	margin-top:20px !important;
	text-align:right;
}
.text2{
	color:#68b4cb;
	text-decoration:underline;
}
.bg2{
	border:none !important;
}
.bg3{
	margin-left:0px;
}
.hr1{
   border:3px solid #b3aba9 !important;
   padding-bottom:0px !important;
   margin-bottom:3px !important;
}
.btn{
	background:#e05284 !important;
	color:#FFFFFF !important;
	margin-top: 0px !important;
}
.form1{
	position:absolute !important;
	margin-top:-150px !important;
	background:#666666 !important;
	height:40px !important;
}
.hr2{
   border:3px solid #b3aba9 !important;
   padding-bottom:0px !important;
   margin-bottom:3px !important;
   margin-top:-18px !important;
}
.bottle1{
	border:2px solid #666666 !important;
	height:30px !important;
}
.mobile1{
	margin-top:4px !important;
}
.text3{
	color:#989d9f;
	font-family:verdana;
	font-size:16px;
	font-style:bold;
}
.text4{
	color:#e05284;
	font-family:verdana;
	font-size:35px;
	font-style:bold;
	text-align:center;
	margin-top:40px !important;
}
.text8{
	color:#e05284;
	font-family:verdana;
	font-size:35px;
	font-style:bold;
	text-align:center;
	margin-top:40px !important;
}
.text6{
	font-size:15px;
	font-family:verdana;
	color:#989d9f;
	font-style:bold;
}
.text5{
	font-size:34px;
	font-family:verdana;
	color:#e05284;
	font-style:bold;
	margin-top:40px !important;
}
.bg4{
	background:#4c525c;
}
.text7{
	color:#FFFFFF;
	font-size:22px;
	font-family:verdana;
	font-weight:bold; 
	padding-top:40px;

}
.text9{
	height:35px !important;
	background:#e05284 !important;
	text-align:center;
	font-size:22px;
	font-family:verdana;
	font-weight:normal;
	color:#FFFFFF !important;
	border:1px solid #E05284 ;
	border-radius:14px;
	padding-top:7px !important;
}
.text10{
	color:#FFFFFF!important;
}
.bg6{
	margin-top:40px;
	padding-bottom:100px;
}
.bg7{
	border-top:1px dashed;
	border-bottom:1px dashed;
	margin-top:20px;
}
.list2{
	display:block;
	list-style:none;
}
.list2 li{
	float:left;
	border-right:1px solid;
	/*padding:10px;*/
	font-family:verdana;
	font-size:10px;
	color:#606869;
	height:20px !important;
}
.b{
	border:none !important;
}

.list2 li a{
	color:#606869!important;
	text-align:center;
    font-size:18px;
}
.bg9{
   margin-top:30px !important;
}
.bg10{
	margin-bottom:20px;
	border-right:1px solid;
	margin-top:20px;
}
.text11{
	color:#606869 !important;
	font-size:15px;
	line-height:20px;
}
.text12{
	color:#939598;
	font-size:15px;
	text-align:right;
	padding-bottom:0px !important;
}
.text14{
	color:#e05284;
	text-align:right;
}
.text13{
	font-size:10px;
	color:#939598;
	text-align:right;
	margin-top:-20px !important;
}

.text7{
			line-height:32px;
		}
		
.text9{
			line-height:22px;
			
		}
		
.product_box{
	float:left; 
	width:600px;
	margin-bottom:20px;
}

#details_box{
	padding-left:10%; 
	width:80%;
}

#details_box .container{
	border:1px solid #DFDFDF; 
	padding:18px; 
	background-color:FCFCFC; 
	margin-top:50px; 
	border-radius:10px;  
	width:1012px;
}

#featured_neigh{
	font-size:28px; 
	padding:20px 0px;
	width: 100%;
text-align: center;
}

.img-div-img, .descript{
	float: left;
}

.img-div-img img{
	height:80px; 
	width:120px;
	float:left; 
	border:4px solid white; 
	box-shadow:0px 2px 5px #60605A;
}

.pro_img{
	height:35px; 
	width:40px;
	float:left;
	margin-left:8px; 
	border:1px solid white; 
	box-shadow:0px 1px 3px #60605A;
}

.pro_details{
	float:left; 
	width:72%;
	min-height:90px;
}

.descript{
	float:left;
}

#pro_title{
	font-size:20px;
	font-weight:bold;
}

.other_pro_details{
	color:#B0B2B4;
}

#pro_price{
	float:right;
	margin-left:35px;
}

#pro_price span{
	float:left;
}

#descript_wrapper{
	float:left; 
	width:72%;
	min-height:90px;
}

#social_btns{
	margin-left:23.8%;
}

#login_email_test, #login_password_test{
	color:#E05284;
}

#loginform{
	margin-left:24%;
}

#login_success_msg{
	padding:10px !important;
}

.form_inputs{}

.radio_btn{
	width:18px; 
	height:18px;	
}

#underline{
	color:#B3ABA9;
}

.property_type{
	width:128px;
	color:#8B8B8B;
	float:left;
}

.property_rate{}

#property_pic{
	margin-bottom:20px; 
	min-height:205px;
	max-width:200px;
	border:1px solid #CACACA; 
	margin-left:4%;
}

.property_img{ min-height:150px; }

.property_img img{
	height:141px;
	border:5px solid white;
	width:190px;
}

.property_rate span{
	font-size:20px;
	font-weight:bold;
}

#property_sidebar{
	float:left; 
	width:302px; 
	margin-left:90px;
}

#share_image_css_id{
	margin-top:36px; 
	margin-bottom:60px; 
	text-align: center;
}

#socialshare_booking{
	padding:10px; 
	width:100%; 
	border:1px solid #DCDCDC;
	float:left;
}

#sidebar_contact_me{
	margin-top:20px; 
	padding:10px;
	text-align:center; 
	width:100%; 
	border:1px solid #DCDCDC;
	float: left;
}

#sidebar_contact_me img{
	border-radius:5px; 
	height:150px; 
	width:150px;
}

#sidebar_similar_listing{
	margin-top:20px; 
	width:107%; 
	border:1px solid #DCDCDC; 
	text-align:center;
	float: left;
}

#neighbour_desc{
	margin-left:14%;
}

#neighbour_title{
	padding-left:14%; 
	margin-top:-10%;
}

#neighbour_desc .span7{
	margin:20px 0px; 
	line-height:150%; 
	color:#333333; 
	font-size:16px;
}

#footer_links{
	margin:20px 0px 0px 0px;  
	width:100%; 
	background-color:#EFEFEF;
}

#map_heading{
	margin-left:14%; 
	font-size:24px; 
	padding:30px 0px 10px 0px;
}

#how_it_works{
	width:80% !important;
	min-height:450px;
}

#howitworks_content{
	width:86%; 
	margin-left:7.5%;
}

#neighbour_city{
	margin-top:-350px; 
	z-index:+999; 
	position:absolute;
}

#city_content{
	padding:20px 0px; 
	margin:0px; 
	width:100%; 
	background-color:#EFEFEF;
}

#all_neigh{
	padding:30px 0px;
}

#neighbours{
	margin:0px; 
	width:100%;  
	height:83.5%; 
	background-size: 100%; 
	background-repeat: no-repeat;
}

#neighbours_text{
	color:white; 
	font-size:32px; 
	text-shadow:2px 2px 20px black; 
}

#neighbours_footerline{
	padding:30px 0px; 
	margin-left:12%;
}

@media(max-width:1280px){
	
	.main{
			
			
			margin-left:auto !important;
			margin-right:auto !important;
		}
		
	#logo{
			margin-left:0 !important;		
		}
		
		.navbar .nav.pull-right{
			margin-right: 0 !important;		
		}
		
		#neighbour_title{
	padding-left: 14%;
}

#neighbour_desc{
	margin-left:14%;
}

#neighbour_desc .span7{
	width:60%;
}
	
#share_image_css_id {
width: 100%;
float: left;
margin-left:0px !important;
}
	
}

@media(max-width:1160px){
		.text9{
			height:53px !important;
			
		}	
		
		#nbcount, #city_name{
			padding-left:1.5% !important;		
		}
		
		.form1 {
			margin-left: 7.5% !important;
		}
		
		.col-lg-3.side-bar{
			width: 30%;
			float: left;	
		}
		
		.col-lg-9{
			width: 70%;
			float: right;		
		}
		
.container{
	width:95%;
}

#tab3 .neigh {
width: 95px;
}

button.btn.btn-large{
width: 100% !important;	
}		
		
	}

@media (max-width: 1024px) {
	
.btm-comtent .text9{
height: 35px !important;
}	

#details_box{
width: 95%;
margin: 0 auto;
padding-left:0;		
}

#details_box .container {
width: 96% !important;
}
	
	p.txt01, p.text5, p.text3, p.text6{
			height:82px;	
		}
	
	.text7{
			line-height: 32px;	
		}
	
	.text9{
			font-size: 20px;	
		}
		
	#nbhood #city_name, #nbhood #nbcount{
			padding-left: 2%;	
		}
	
	.span12 .form1{
			margin-left: 8.5% !important;
		}
		
	.span5{
			margin-left:0;	
		}
	
	.leftresult {
			width: 72% !important;
			margin: 0px !important;
			padding: 20px;
		}
	
	.main {
			margin-left: 2.2% !important;
			width: 95% !important;
		}
	
	.container{
			width:100% !important;	
		}
		
	.span7.content {
			width: 100%;
		}
		
	.tab-pane .span3 {
			width: 94%;
		}
		
	.span3.photo-img-item{
			max-width:27% !important;	
		}
		
	.listings#map{
			width:100% !important;
			margin-left: 1% !important;	
		}
}

@media (max-width: 800px){
	
.location{
	width: 40% !important;
}

.location input{
	width:100% !important;
}

.range{
	width: 40% !important;
}
	
.searchmenu{
	width:100% !important;
}

.search button{
	width:100% !important;
}

.search {
width: 19% !important;
}

	
#howitworks_content {
width: 100%;
margin-left: 0px
}

#howitworks_content .row{
padding-left:0 !important;
}

.how_it_works {
margin-left: 2%;
margin-bottom: 10px;
}
	
#share_image_css_id{
	margin:0 0 10px 0 !important;
	width: 100%;
text-align: center;
float: left;
}

#neighbour_desc .span7 {
width: 86%;
}

#neighbour_desc .span3{
width: 100%;
margin-left: 0;
}

#neighbour_title{
margin-top: -14%;
}
	
#nbhood{
	width: 40%;
}
	
	#curr_ul, #cur_ul{
	margin:0;	
	width:100% !important;	
	}
	
	#curr_ul li, #cur_ul li{
		padding-left:0;
		margin-bottom: 2px;
	}
	
	
	.text9 {
height: 35px !important;
}

#nbhood #nbcount{
margin: -110px 0px 0px 71px;
width: 18%;
}
	
	.navbar-form .input-prepend input{
			width: 100%;	
		}
		
	.span12 .form1{
			margin-left: 4% !important;
		}
		
	.span3 img{
			height:100px;	
		}
		
	.span3 .mobile10 img {
			margin-top: 0px;
		}
		
	.span3 h1.text4, .span3 h1.text8, .span3 h1.text5 {
			margin-top: 10px !important;
			font-size: 21px;
		}
		
	.span5{
			font-size: 16px;
			width: 315px;	
		}
	
	.span6{
			font-size:16px;	
		}
	
	.span1 {
			width: 0;
		}
		
	p.txt01, p.text5, p.text3, p.text6{
			height:120px;	
			margin-top: 5%;
		}
		
	.text4, .text8, .text5 {
			font-size: 21px;
		}
		
	.text9 {
			font-size: 15px;
		}
		
	#nbhood #city_name{
			font-size: 22px;
margin: -140px 0px 0px 88px;
		}
		
	.header{
			/*height: 102px !important;	*/
		}
	
	.listphotomap{
			margin-top: 4%;	
		}
		
	.rightfilter {
			width: 97.5% !important;
			float: left !important;
			margin-left: 20px;
			box-shadow: 1px -4px 4px -2px #CCC !important;
			border-left:none !important;
		}
	
	.leftresult {
			width: 95% !important;
		}
		
	.btn.dropdown-toggle{
			width: 100% !important;
			margin-bottom: 1px;
		}
.lower_div .row{
margin-left: 0;
}

.lower_div .row .span10{
width: 100% !important;
margin-left: 0;
}

.lower_div .row .span10 .span3 {
width: 29%;
}
	
.col-lg-9 .row{
margin-left:0;
margin-right:0;	
}
	
}

@media(max-width:768px){
	
.product_box{
	width:100%;
}

#property_sidebar{
	width: 100%;
	margin-left:0;
}

#socialshare_booking{
	width: 100%;
	padding:0;
}

#sidebar_similar_listing{
	width: 100%;
}

#sidebar_contact_me{
	width: 97%;
}

.input-append{
	width: 100%;
}
	
.search {
width: 18% !important;
}

	
.img-item {
			width: 100% !important;
		}

.lower_div .row .span10 .span3 {
width: 29%;
float: left;
margin-left: 18px;
margin-bottom: 20px;
}

.span12 .form1 {
padding: 10px 5px;
position: initial !important;
height: auto !important;
background: none !important;
width: 75%;
margin: 10px auto !important;
}

.btm-comtent .text9{
	width: 215px;
	line-height: 14px;
}

#nbhood #city_name{
	margin: -140px 0px 0px 77px;
width: 135px;
}

#nbhood #nbcount{
	width: 20%;
}

.middle-content .span3 {
	width: 92%;
}

}

@media (max-width: 720px){
		
	.rightfilter{
			margin-left:0;
			width:100%;
		}
	#nbhood #city_name{
			margin: -140px 0px 0px 68px;	
		}
	#nbhood #nbcount{
			margin: -110px 0px 0px 64px;	
		}
	
}

@media (max-width: 603px){
	
#neighbours_text{
	padding-top: 10%;
	line-height: 35px;
}
	
#all_neigh{
	padding:30px 28px;
}
	
#city_content{
	padding: 20px 28px;
}

#feature_content{
	padding: 0 28px;
}

#featured_neigh{
	text-align:left;
	padding: 20px 28px;
}
	
#neighbour_city{
	margin-top: -512px;
}
	
.btn-group a{
	margin-top:5px;
	float:left;
}
	
#howitworks_content{
	width: 100%;
margin-left: 0;
text-align: center;
}

#howitworks_content .row{
	padding-left:0 !important;
}

#howitworks_content p {
text-align: left;
}

.how_it_works{
	margin-left:0 !important;
}

#neighbour_title {
margin-top: -110px;
}

.listings hr{
	display:none;
}
	
#descript_wrapper{
	width: 100%;
margin-top: 10px;
border-bottom: 1px solid #eeeeee;
}

.leftresult {
width: 92% !important;
}
	
#details_box {
padding-left: 0;
width: 92%;
}

#details_box .container{
float: left;
}

.product_box{
	width: 100%;
}
	

.formcontent{
	text-align: center;
}

input#front_loacation {
width: 100%!important;
}
		
	input.bottle1{
			border: 2px solid #666666 !important;
		}
		
	.span3.img-content1, .span3.img-content2, .span3.img-content3 {
			margin-left: 0;
			margin-bottom: 10%;
			float: left;
		}
		
	p.txt01, p.text5, p.text3, p.text6 {
			height: auto;
		}
		
	.text9.span3 {
			width: 220px;
			margin-left: 30% !important;	
			padding-top: 5px !important;
		}
		
	.span2#nbhood {
			margin-left: 0;
		}
		
	#nbhood #city_name, #nbhood #nbcount {
			width: 35%;
			padding-left:0 !important;
		}
		
	#nbhood #city_name{
			margin: -140px 0px 0px 15px;	
		}
		
	#nbhood #nbcount {
			margin: -110px 0px 0px 16px;
	}
		
	#myCarousel.carousel {
			margin-top: 0;
		}
		
	/*.location {
			width: 132px !important;
		}
	
	.location input{
			width: 132px !important;	
		}
		
	.range {
			width: 255px !important;
		}*/
	
	.img-item {
			width: 100% !important;
			height: 185px !important;
		}
		
	.rightfilter{
			margin-left: 0px;
			width: 100% !important;	
		}
		
	.span3.photo-img-item {
			max-width: 43% !important;
			float: left;
		}
	.span8#load_div{
			margin-left: 0% !important;
			float: left !important;
		}
		
	.listings#map {
			width: 95% !important;
		}
		
	.span7.content {
width: 100% !important;
}

.listphotomap {
margin-top: 6%;
}
		
.lower_div .row .span10 .span3{
width: 92%;
text-align: center;
padding-top: 20px;
}

.how_it_works{
	margin-bottom:4%;
}

#neighbours_footerline{
	margin-left: 0%;
	padding: 30px 28px;
}

}

@media (max-width:600px){
	
	.img-item {
			width: 100% !important;
			height: 225px !important;
	}
		
		
}

@media(max-width:533px){
	.location {
width: 120px !important;
}

.search button{
	width: 76px !important;
	}
	
	.location input{
			width: 132px !important;	
		}
		
	.range {
			width: 255px !important;
		}

	}
	
@media(max-width:480px){
	

	
	.location {
width: 66px !important;
}
	
	.search button{
		width: 89px !important;		
	}
	
	.search{
		width: 86px !important;
	}
}

@media(max-width:360px){
	
#neighbours_text {
padding-top: 5%;
line-height: 25px;
font-size: 20px;
}
	
#details_box .container {
width: 88% !important;
}
	
#map_heading{
	width:85%;
}
	
	
#neighbour_title .city{
	font-size: 40px;
}

#neighbour_title .known_for {
font-size: 18px;
}

#footer_links {
width: 100%;
}
	
#footer_links .span4{
width: 86%;	
}

	.text1{
		text-align:left !important;
	}
	/*.form{
        margin-left:50px !important;
	}*/
	.list{
		margin-left:-5px !important;
	}
	.form1{
		position:static !important;
		margin-top:0 !important;
		height:200px !important;
		margin-left:0px !important;

	}
	.mobile1{
		width:100% !important;
	}
	/*.mobile10{
		margin-left:30px;
	}
	.mobile11{
		margin-left:60px;
	}
	.mobile12{
		margin-left:25px;
	}*/
	.mobile13{
		margin-left:35px;
		margin-top:20px;
	}
	.list2 li {
		float:none !important;
		border:none !important;
	}
	.bg10{
		border:none !important;
	}
	.btn1{
		margin-top:-26px !important;
	}
	.mobile14{
		margin-left:30px;
	}
	.mobile15{
		float:none !important;
		margin-left:-45px;
	}
	#logo{
		margin-left:5px;
	}
	.bg6{
		padding-bottom:50px !important;
	}
	.text9.span3{
		margin-left: 18% !important;	
	}
	#nbhood #city_name, #nbhood #nbcount {
		width: 32%;
	}
	
	#nbhood #nbcount{
		margin: -110px 0px 0px 33px;		
	}
	
	#nbhood #city_name{
		margin: -140px 0px 0px 36px;		
	}
	
	.span2#nbhood {
		margin-left: -43px;
	}
	
	.span5 {
		width: 252px;
		margin-bottom: 10px;
	}
	
.search{
		margin-top: 8px;	
	}
	
	.search button{
		border-radius:5px;
	}
	
	.listphotomap{
		margin-top: 21.5% !important;	
	}
	
	.header{
		height: 152px !important;
		width: 90%;
		padding: 15px 4%;
		float:left;	
	}
	
	
	.listings#map {
		width: 90% !important;
	}
	
	.secondheader{
		float: left;
width: 87%;
	}
	
	.leftresult {
width: 88% !important;
}

.leftresult ul{
	margin:0 !important;
	}
	
	.span3.photo-img-item {
		max-width: 82% !important;
	}
	
	.span7.content {
		width: 40% !important;
	}
	
	.span7.content.star-rating-readonly{
		width: 97% !important;
	}
	
	.span3 .table th, .span3 .table td{
		padding: 6px !important;
		font-size: 12px;	
	}
	form{
			width:100%;	
			float:left;
		}
	.location {
		width: 100% !important;
		float:left;
	}
	.location input {
		width: 100% !important;
		float:left;
		border-radius:5px !important;
	}
	.range {
width: 100% !important;
border-left:1px solid #A8A8A8 !important;
border-radius: 5px;
}
	
body{
width: 100%;
padding: 0;
float: left;
}
		
.head_div .header{
width: 87%;
height: auto !important;
}

.span12{
width:100% !important;
margin-left: 0 !important;
}

.lower_div .row .span10 .span3 {
width: 100%;
margin-left: 0px;
}

.lower_div .row .span10 {
width: 96% !important;
margin-left: auto;
margin-right: auto;
}

#social_btns {
margin-left: 4.8%;
}

#underline{
	display:none;
}

#loginform {
margin-left: 3%;
}

.modal-footer .pull-right{
float:left;
}

.span12 .form1{
float:none;
}

#descript_wrapper{
padding-bottom: 5px;
}

#property_sidebar {
width: 90%;
margin-left: 0;
}
	
}

@media (max-width:320px){
	
#neighbours_text {
padding-top: 1%;
line-height: 25px;
font-size: 20px;
}
	
#social_btns {
margin-left: 0;
}

#login_modal input{
width: 265px !important;
}

	.form{
		margin-left:0 !important;		
	}
	
	.text9.span3 {
		margin-left: 13% !important;
		float: left;
	}
	
	#nbhood #city_name, #nbhood #nbcount{
		width: 34%;		
	}
	
	#nbhood #city_name{
		margin: -140px 0px 0px 30px;		
	}
	
	#nbhood #nbcount {
		margin: -110px 0px 0px 25px;
	}
	
	input.bottle1{
		width: 100% !important;		
	}
	
	.location {
		width: 100% !important;
	}
	
	.range {
		width: 100% !important;
	}
	
	.main {
		margin-left: 0% !important;
		width: 100% !important;
	}
	
	.leftresult{
		padding: 5px;	
	}
	
	.listphotomap{
		margin-top: 120px !important;	
	}
	
	.header{
		height: 210px !important;
		width: 92%;
		padding: 15px 4%;
		float:left;	
	}
	
	.rightfilter{
		margin-top: 10px;	
	}
	
	.listings ul{
		margin:0 !important;
	}
	
	.location input {
		width: 100% !important;
	}
	
	.listings#map {
		width: 100% !important;
	}
	
	.span3.photo-img-item {
		max-width: 90% !important;
	}

	
}