body {
  /*padding-top: 40px;*/
  /*margin: 0 auto;*/
  color:#6e6e70;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*Navbar*/
	.navbar{
		background-color: #de4980;
		color: #fff;
	}

	.navbar-inverse{
		border: 0px;
	}

	.navbar-inverse .navbar-brand{
		color: #fff;
	}

	.navbar-nav > li > a{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.logo img{
		padding-top: 10px;
	}

	.navbar-inverse .navbar-nav > li > a{
		color: #fff;
	}

	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
		background: transparent;
	}

	li.dropdown{
		padding-top: 15px;
		padding-bottom: 20px;
	}

	.btm-nav{
		background-color: #fff;
		margin-top: 5%;
		padding-top: 10px;		
		/*border: 1px solid;*/
		box-shadow: 0px 4px 3px 0px #ccc;
	}

	.btm-nav .btn-lg{
		font-size: 14px;
		font-weight:bold; 
	}

	.btn-pdng{
		/*box-shadow: 0px 4px 3px 0px #ccc;*/
		padding-left: 0px;
		
	}

	.srch-box{
		border-radius: 25px;	
		border: 2px solid #ccc;	
	}

	.src-btn{
		border: 1px solid #ccc;
		border-left: 0px;	
		border-radius: 25px;				
	}
/*Navbar*/


/*sibe bar*/
	.side-bar{		
		padding-top: 5%;		
		border-right:1px solid #ccc; 
		box-shadow:inset -3px 0px 5px 0px #ccc;
		width: 30%;
			float: left;
	}
	.col-lg-9{
			width: 70%;
			float: right;		
		}

	.side-bar ul{
		padding-left: 0px;
		box-shadow: 2px 10px 6px -4px #ccc;
	}

	.side-bar ul li{
		/*font-weight: bold;*/
		list-style: none;
		/*font-size: 16px;*/
		padding: 15px;
		border-bottom: 1px solid #ccc;
	}

	.f-right{
		float:right;
	}

	.no-border{
		border-bottom: 0px !important; 
	}

/*sibe bar*/


.welcome{
	background-color: #33aebd;
	/*margin: 0 -2%;*/
}

.welcome h3{
	color:#fff;
	font-weight:lighter;
	font-size:35px;
	padding: 2%;
	margin-top: 0px;
}

/*.content-ul li{
	list-style: none;
	display: inline;
	text-align: center;
	float: left;
}*/

.content-div{
	list-style: none;
	display: inline;
	text-align: center;
	float: left;	
	margin-left: 8%;
	/*margin: 0 auto;*/

}



.pink-circle{
	background-color: #de4980;
	/*width: 10%;*/
	border-radius: 100px;
	padding: 11%;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
}

.pink-circle img{
	width: 100%;

}

.content-div p{
	margin-top: 20px;
}

.content-ul li p{
	padding-top: 10px;
}

.left-zero{
	margin-left: 0px;
}

.links{
	padding-top:5%; 
	padding-left:1%; 
}

.content-top{
	box-shadow: 1px 1px 6px 2px #ccc;
	margin-top: 2%;
	margin-left: 2%;
}

.q_link{
	color:#000;
}

.q_link h3{
	font-size: 25px;
}

.content-mid .links{
	padding-top: 0px !important;
}


.content-mid{
	box-shadow: 1px 1px 6px 2px #ccc;
	margin-top: 2%;
	margin-left: 2%;
}


.green-circle{
	background-color: #33AEBD;
	/*width: 10%;*/
	border-radius: 100px;
	padding: 11%;
	width: 50px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
}

.green-circle img{
	width: 100%;
}
.q_link{
	padding-left: 2%;
}

.content-mid .content-div{
	margin-left: 10%;	
}

.btm-span{
	padding-left: 2%;
}

.how_it_works {
margin-left: 2%;
}

@media (max-width:1100px){

.btn-pdng{
padding-top:10px;
}

}

@media(max-width:800px){
	
.form-horizontal .form-group {
margin-right: 0;
margin-left: 0;
}
	
.col-sm-10 .form-control{
width: 80%;
}

.container{
width: 100%;
}

.content-mid{
margin-right:0;
margin-left: 0;
}

.content-div{
margin-left: 6.5%;
}

.content-top{
margin-left: 0;
margin-right: 0;
}

.btn-pdng{
padding-top:0px;
}

	.col-lg-9{
			width: 100%;
			float:left;	
			padding-left: 0;
padding-right: 0;
		}
		
	.side-bar{
			width:100%;	
		}
	
	.btm-nav{
			margin-top: 8%;	
			float:left;	
		}
	
	footer .container .foot img{
			background-color:#ccc;	
		}
	


}

@media(max-width:603px){
	
	.btn-group a{
	margin-top: 5px;
float: left;
margin-left: 5px;
}

.btn-pdng {
padding-top: 0px;
margin-top: 10px;
}
	
	
.col-sm-4, .col-sm-3{
	margin-bottom: 5px;
}

.content-top .zak_zak{
	margin-top: 50px !important;
}

.content-div {
margin-left: 2.5%;
width: 17%;
}

.content-mid .content-div {
margin-left: 2.5%;
width: 22.5%;
}

.green-circle img{
width:25px !important;
}

#feature_content{
padding: 0 40px;
}
	
}

@media(max-width:600px){
	
	.links zak_zak tr td{
		padding: 8px 7px;
	}
	
	.btm-nav {
			margin-top: 12%;
	}
}

@media(max-width:480px){
	.btn-pdng {
margin-top: 0px;
}
	
	.btm-nav {
			margin-top: 16%;
	}
}

@media(max-width:360px){
	#dropbox{
		width: 87% !important;
	}
	
	.unstyled{
		padding-left:0 !important;
	}
	
.content-div {
margin-left: 6.5%;
width: 38%;
}

.content-mid .content-div {
margin-left: 6.5%;
width: 40%;
}

.q_link .btn{
margin-top:10px;
}

ul.foot{
padding-left:5px;
}

.btm-span {
padding-left: 2%;
float: left;
padding-bottom: 15px;
}

.btn-div{
margin-left: 15px;
}

#append-group, #append-lang{
padding-left: 29px;
}

}

@media(max-width:320px){
	.content-top .zak_zak{
	margin-top: 70px !important;
}

.panel{
margin-top: 30px;	
}

}