/*general css start*/
@font-face {
 font-family: 'LucidaSansUnicodeRegular';
 src: url('../fonts/lucida-sanc-unicode.eot');
 src: url('../fonts/lucida-sanc-unicode.eot?#iefix') format('embedded-opentype'),  url('../fonts/lucida-sanc-unicode.woff') format('woff'),  url('../fonts/lucida-sanc-unicode.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
                font-family: 'Pacifico';
                src: url('../fonts/pacifico.eot');
                src: url('../fonts/pacifico.eot?#iefix') format('embedded-opentype'),
                         url('../fonts/pacifico.woff') format('woff'),
                         url('../fonts/pacifico.ttf') format('truetype'),
                         url('../fonts/pacifico.svg#pacifico') format('svg');
                font-weight: normal;
                font-style: normal;
        }
@font-face {
                font-family: 'ComicSansMS';
                src: url('../fonts/comic.eot');
                src: url('../fonts/comic.eot?#iefix') format('embedded-opentype'),
                         url('../fonts/comic.woff') format('woff'),
                         url('../fonts/comic.ttf') format('truetype'),
                         url('../fonts/comic.svg#comic') format('svg');
                font-weight: normal;
                font-style: normal;
        }

body {
    background:#fff url(../images/site/body-background.jpg) repeat-x top center;
    width:100%;
    margin:0 auto;
    padding:0px;
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:12px;
    color:#666666;
    text-decoration:none;
    line-height:16px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, /*input,*/ textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    font:75%/1.25 "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
}
p {
    margin:0px;
    /*padding:0px 0px 15px 0px;*/
}
br {
    margin:0px;
    padding:0px;
    height:0px;

}
img {
    border:0px;
    outline:none;
}
.alignright {
    text-align:right;
}
.aligncenter {
    text-align:center;
}
.flclear {
    clear:both;
    float:none;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.padtop60 {
    padding:60px 0px 0px 0px;
    clear:both;
}
.padtop15 {
    padding:15px 0px 0px 0px;
    clear:both;
}
.padtop10 {
    padding:10px 0px 0px 0px;
    clear:both;
}

.space10{height:10px; clear:both;}
.space20{height:20px; clear:both;}

/*general css end*/
/*header css start*/
.mainwidth {
    width:964px;
    margin:0 auto;
    padding:0px;
}
.header {
    height:57px;
    /*width:964px;*/
    margin:0px auto;
}
.logo {
    padding:5px 0px 0px 0px;
    float:left;
}
.logo-in-menu{margin:0px 0px 0px 10px; padding:0px;}
.logo-in-menu .ul {float:left;margin:0px;padding:0px;list-style:none;}
/*.logo-in-menu ul li {float:left;padding-top:10px;padding-right:5px;}
.logo-in-menu ul li .img {float:left;margin:-15px 2px 0px 2px;}
.logo-in-menu ul li a {float:left;padding:0px 7px;line-height:29px;font-family:'LucidaSansUnicodeRegular';font-size:13px;color:#000;    text-decoration:none;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;background-color:none;border:solid 1px transparent;}
.logo-in-menu ul li a:hover {float:left;color:#000;text-decoration:none;behavior: url(css/border-radius.htc);-moz-border-radius:4px;    -webkit-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;background-color:none;border:solid 1px #dadada;box-shadow:0 1px 0 #fdfdfd, 0 0 1px #fff inset;}
.logo-in-menu ul li a.select {float:left;color:#000;text-decoration:none;}*/
.fr {
    float:right;
}
.menudiv {
    float:right;
    padding:5px 0px 0px 0px;
    width:auto;
    /*width:550px;*/ /*600px*/
    height:52px;
    text-align:right;
}
.menu ul {
    float:right;
    margin:0px;
    padding:0px;
    list-style:none;
}
.menu ul li {
    float:left;
    padding-top:10px;
    /*padding-right:5px;*/
}
.menu ul li .img {
    float:left;
    margin:-15px 2px 0px 2px;
}
.menu ul li a {
    float:left;
    padding:0px 7px;
    line-height:29px;
    font-family:'LucidaSansUnicodeRegular';
    font-size:13px;
    color:#000;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    background-color:none;
    border:solid 1px transparent;
}
.menu ul li a:hover {
    float:left;
    color:#000;
    text-decoration:none;
    behavior: url(css/border-radius.htc);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    background-color:none;
    border:solid 1px #dadada;
    box-shadow:0 1px 0 #fdfdfd, 0 0 1px #fff inset;
}
.menu ul li a.select {
    float:left;
    color:#000;
    text-decoration:none;
}
.list-your-space-btn {
    padding:5px 0px 0px 0px;
    width:130px;
    float:right;
}
/*header css end*/
/*contant css start*/
.contantwidth {
    width:975px;
    margin:0 auto;
    padding:0px;
}
.contant {
    padding:60px 0px 20px 0px;
    clear:both;
}
.contantinner {
    padding:20px 0px 0px 0px;
    clear:both;
}
.contantinner-main {
    padding:20px 0px 0px 0px;
    clear:both;
}


.contant-left-home {
    float:left;
    width:498px;
    padding:8px;
    margin:0px 35px 0px 0px;
    background-color:#fff;
    border:solid 1px #cdcdcd;
    height:405px;
}
.thumbbox {
    height:77px;
    width:77px;
    float:left;
    background-color:#fff;
    border:solid 1px #cdcdcd;
    padding:5px;
    margin:8px 7px 0px 0px;
}
.thumbbox img {
    height:100%;
    width:100%;
    border:0
}
.thumbcon {
    width:400px;
    float:right;
    margin:8px 0px 0px 0px;
    border-radius:5px;
    border:1px solid #CCC;
}
.thumbbox-con-bg {
    
    background:url(../images/site/thumbe-con-box-aero.png) no-repeat top left;
    width:410px;
    min-height:62px;
    padding:0px 15px 6px 15px;
    margin:10px 0px 0px -6px;
}
.thumbbox-conline-bg {
    /*background:url(../images/site/thumbe-con-box-mid-line.png) repeat-y top left;*/
    width:410px;
    font-size:14px;
    color:#797979;
    text-decoration:none;
    /*line-height:20px;*/
}
.textblue14 a {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:14px;
    color:#0a81b3;
    text-decoration:none;
    line-height:20px;
}
.contant-right-home {
    float:right;
    width:414px;
    padding:91px 0px 0px 0px;
}
.contant-right-home h2 {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:28px;
    color:#000;
    text-decoration:none;
    line-height:30px;
    font-weight:normal;
    padding:0px 0px 20px 0px;
}
.contant-right-home .textfieldbg {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:12px;
    color:#aaaaaa;
    float:left;
    text-decoration:none;
    line-height:30px;
    /*background:url(../images/site/search-bg.gif) no-repeat top left;*/
    width:313px;
    height:37px;
}
.contant-right-home .textfieldbg input[type="text"] {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:12px;
    color:#aaaaaa;
    float:left;
    text-decoration:none;
    /*line-height:37px;*/
    /*background:none;
    border:none;*/
    width:342px;
    height:37px;
    padding:0px 0px 0px 5px;
}
.contant-right-home .searchicon-button {
    background:url(../images/site/search-icon.gif) no-repeat top left;
    cursor:pointer;
    width:43px;
    height:37px;
    border:none;
}
.contant-right-home .checkin-out ul {
    margin:0px;
    padding:0px 0px;
    list-style:none;
}
.contant-right-home .checkin-out ul li {
    float:none;
}
.contant-right-home .checkin-out ul li.checkin {
    float:left;
    width:124px;
    margin:0px 20px 0px 0px;
}
.contant-right-home .checkin-out ul li.checkin h5 {
    font-size:12px;
    color:#000;
    text-decoration:none;
    line-height:25px;
    font-weight:bold;
}
.contant-right-home .checkin-out ul li.checkin .textfieldbg {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:12px;
    color:#aaaaaa;
    float:left;
    text-decoration:none;
    line-height:30px;
    /*background:url(../images/site/checkin-textfield-bg.gif) no-repeat top left;*/
    width:122px;
    height:30px;
}
.contant-right-home .checkin-out ul li.checkin .textfieldbg input[type="text"] {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:12px;
    color:#aaaaaa;
    float:left;
    text-decoration:none;
    line-height:15px;
    /*background:none;
    border:none;*/
    /*width:110px;*/
    width:117px;
    height:30px;
    padding:0px 0px 0px 5px;
    text-align:center;
}
.contant-right-home .checkin-out ul li.guest {
    float:left;
    width:69px;
}
.contant-right-home .checkin-out ul li.guest h5 {
    font-size:12px;
    color:#000;
    text-decoration:none;
    line-height:25px;
    font-weight:bold;
}
.contant-right-home .search-button {
    background:url(../images/site/search-btn.png) no-repeat top left;
    cursor:pointer;
    width:142px;
    height:47px;
    border:none;
}
.threebox ul {
    margin:0px;
    padding:0px;
    list-style:none;
}
.threebox ul li {
    float:left;
    width:290px;
    border:solid 1px #eaeaea;
    padding:6px;
    margin:0px 26px 0px 0px;
}
.threebox ul li.right {
    float:left;
    width:290px;
    border:solid 1px #eaeaea;
    padding:6px;
    margin:0px 0px 0px 0px;
}
.threebox ul li h2 {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:18px;
    color:#999967;
    font-weight:normal;
    text-decoration:none;
    line-height:25px;
}
.threebox ul li h2 a {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:18px;
    color:#999967;
    font-weight:normal;
    text-decoration:none;
    line-height:25px;
    padding:0px 0px 0px 10px;
}
.threebox ul li h3 {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:14px;
    color:#9a9a9a;
    font-weight:normal;
    line-height:18px;
    padding:0px 0px 0px 10px;
}
.threebox ul li.right h2 {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:18px;
    color:#999967;
    font-weight:normal;
    text-decoration:none;
    line-height:25px;
}
.threebox ul li.right h2 a {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:18px;
    color:#999967;
    font-weight:normal;
    text-decoration:none;
    line-height:25px;
    padding:0px 0px 0px 10px;
}
.threebox ul li.right h3 {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:14px;
    color:#9a9a9a;
    font-weight:normal;
    line-height:18px;
    padding:0px 0px 0px 10px;
}
/*contant css end*/

/*footer css start*/
.footer {
    padding:10px 0px 20px 0px;
    clear:both;
}
.footer ul {
    margin:0px;
    padding:0px;
    list-style:none;
}
.footer ul li {
    float:left;
}
.footer ul li h4 {
    float:left;
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:16px;
    color:#757575;
    font-weight:normal;
    line-height:18px;
    padding:0px 0px 8px 0px;
}
.footer ul li.qution {
    float: left;
    width: 135px;
}
.footer ul li.qution ul {
    float:none;
    clear:both;
    width:120px;
    margin:0px;
    padding:0px;
    list-style:none;
}
.footer ul li.qution ul li {
    float:none;
    padding:0px 0px 0px 5px;
    height:20px;
}
.footer ul li.qution ul li a {
    float:none;
    display:inline-block;
    width:100px;
    background:url(../images/site/footer-point.png) no-repeat top left;
    border-bottom:solid 1px #dfdfdf;
    font-size:11px;
    color:#9a9a9a;
    text-decoration:none;
    padding:0px 0px 0px 8px;
    line-height:20px;
}
.footer ul li.qution ul li a:hover {
    float:none;
    text-decoration:none;
    background:#e7e7e7 url(../images/site/footer-point.png) no-repeat top left;
}
.footer ul li.qution ul li a.select {
    float:none;
    text-decoration:none;
    background:#e7e7e7 url(../images/site/footer-point.png) no-repeat top left;
}
.footer ul li.companyinfo {
float: left;
width: 147px;
padding: 0px 0px 0px 20px;
}
.footer ul li.companyinfo ul {
    float:none;
    clear:both;
    width:120px;
    margin:0px;
    padding:0px;
    list-style:none;
}
.footer ul li.companyinfo ul li {
    float:none;
    padding:0px 0px 0px 5px;
    height:20px;
}
.footer ul li.companyinfo ul li a {
    float:none;
    display:inline-block;
    width:100px;
    background:url(../images/site/footer-point.png) no-repeat top left;
    border-bottom:solid 1px #dfdfdf;
    font-size:11px;
    color:#9a9a9a;
    text-decoration:none;
    padding:0px 0px 0px 8px;
    line-height:20px;
}
.footer ul li.companyinfo ul li a:hover {
    float:none;
    text-decoration:none;
    background:#e7e7e7 url(../images/site/footer-point.png) no-repeat top left;
}
.footer ul li.companyinfo ul li a.select {
    float:none;
    text-decoration:none;
    background:#e7e7e7 url(../images/site/footer-point.png) no-repeat top left;
}
.footer ul li.follow {
float: left;
width: 306px;
padding: 0px 0px 0px 22px;
}
.footer ul li.follow ul {
    float:left;
    clear:both;
    margin:0px;
    padding:0px;
    list-style:none;
    width:235px;
}
.footer ul li.follow li {
    float:left;
    margin:0px 5px 0px 0px;
}
.footer ul li.follow li a.fb {
    float:left;
    background:url(../images/site/followus.png) no-repeat 0px 0px;
    width:35px;
    height:35px;
    text-decoration:none;
}
.footer ul li.follow li a.tweet {
    float:left;
    background:url(../images/site/followus.png) no-repeat -44px 0px;
    width:35px;
    height:35px;
    text-decoration:none;
}
.footer ul li.follow li a.blogger {
    float:left;
    background:url(../images/site/followus.png) no-repeat -86px 0px;
    width:35px;
    height:35px;
    text-decoration:none;
}
.footer ul li.follow li a.youtube {
    float:left;
    background:url(../images/site/followus.png) no-repeat -127px 0px;
    width:35px;
    height:35px;
    text-decoration:none;
}
.footer ul li.follow li a.google {
    float:left;
    background:url(../images/site/followus.png) no-repeat -166px 0px;
    width:35px;
    height:35px;
    text-decoration:none;
}
.footer ul li.follow li a.visa {
    float:left;
    background:url(../images/site/payment-methods.png) no-repeat 0px 0px;
    width:36px;
    height:25px;
    text-decoration:none;
}
.footer ul li.follow li a.mastercard {
    float:left;
    background:url(../images/payment-methods.png) no-repeat -40px 0px;
    width:37px;
    height:25px;
    text-decoration:none;
}
.footer ul li.follow li a.americanexp {
    float:left;
    background:url(../images/site/payment-methods.png) no-repeat -80px 0px;
    width:36px;
    height:25px;
    text-decoration:none;
}
/*.footer ul li.livechat h1 {
    color:#757575;
    font-size:16px;
    font-weight:normal;
    margin:0px 0px 10px 0px;
    padding:0px;
    font-family: 'LucidaSansUnicodeRegular';
    
    }*/
.footer ul li div.livechatbox h4 {
    color:#757575;
    font-size:16px;
    font-weight:normal;
    margin:0px 0px 10px 0px;
    padding:0px;
    /*font-family: 'LucidaSansUnicodeRegular';*/
}
.footer ul li.follow li a.paypal {
    float:left;
    background:url(../images/site/payment-methods.png) no-repeat -123px 0px;
    width:84px;
    height:25px;
    text-decoration:none;
}
.footer ul li.livechat {
    padding:0px 0px 0px 25px;
}
.footer ul li div.livechatbox {
    float:left;
    background:#eeeeee;
    padding:0px 15px 26px 15px;
    width:272px;
}
.footerline {
    background:url(../images/site/footer-ling.gif) repeat-x top center;
    margin: 40px auto 0px auto;
    width: 960px;
    /*height:150px;*/
}
/*.copyright {
    font-family:'LucidaSansUnicodeRegular';
    font-size:12px;
    color:#666666;
    text-decoration:none;
    line-height:30px;
    text-align:center;
}*/
.copyright {
/*font-family: 'LucidaSansUnicodeRegular';*/
font-size: 12px;
color: #666;
text-decoration: none;
line-height: 40px;
margin: 0px 0px 0px 20px;
padding: 0px;
}
/*footer css end*/

/*new css add start*/

/*dashboard css add start*/
.verifications-list-item .count .p {
    background-color: #E7ECEF;
    color: #E7ECEF;
    margin-right: 1px;
    width: 3px;
}
#share {
    width:649px;
    margin:6px auto 15px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    font-shadow: 0 1px 1px white;
}
#share a {
    font-size:12px;
    clear:#fff;
    margin-left: 10px;
    margin-top:3px;
}
.silver_box {
    border: 1px solid #d5d5d5;
    margin: 15px 0;
    width:980px;
    overflow:hidden;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.07);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.07);
    background: #ffffff; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 30%, #F0F0F0 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ffffff), color-stop(100%, #F0F0F0)); /* webkit */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F0F0F0', GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #ffffff 30%, #F0F0F0 100%); /* opera */
}
.martop15 {
margin: 15px 0px 0px 0px;
}
.footer ul li div.livechatbox .newsletter .news-txt-box {
    /*font-family:'LucidaSansUnicodeRegular';*/
    font-size:12px;
    color:#aaaaaa;
    float:left;
    text-decoration:none;
    line-height:30px;
    background:url(../images/site/news-txt-box.gif) no-repeat top left;
    width:245px;
    height:30px;
    border:0;
    padding:0px 0px 0px 10px;
    margin:0px 0px 0px 0px;
}

.footer ul li div.livechatbox .newsletter .subscribe {
    background:url(../images/site/subscribe.gif) no-repeat top left;
    width:100px;
    height:22px;
    border:0;
    padding:0px;
    margin:10px 0px 0px 0px;
}
.follow2 {
    float:right;
    width:350px;
    padding:0px 0px 0px 0px;
    margin: 13px 5px 0 0;
}
.follow2 ul {
    float:left;
    clear:both;
    margin:0px;
    padding:0px;
    list-style:none;
    width:350px;
}
.follow2 li {
    float:right;
    margin:0px 5px 0px 0px;
}
.follow2 li a.fb {
    float:left;
    background:url(../images/site/followus-new.png) no-repeat 0px 0px;
    width:25px;
    height:25px;
    text-decoration:none;
}
.follow2 li a.tweet {
    float:left;
    background:url(../images/site/followus-new.png) no-repeat -26px 0px;
    width:25px;
    height:25px;
    text-decoration:none;
}
.follow2 li a.blogger {
    float:left;
    background:url(../images/site/followus-new.png) no-repeat -50px 0px;
    width:25px;
    height:25px;
    text-decoration:none;
}
.follow2 li a.youtube {
    float:left;
    background:url(../images/site/followus-new.png) no-repeat -79px 0px;
    width:25px;
    height:25px;
    text-decoration:none;
}
.follow2 li a.google {
    float:left;
    background:url(../images/site/followus-new.png) no-repeat -107px 0px;
    width:25px;
    height:25px;
    text-decoration:none;
}
#PinItButton {
    flaot:right;
    background:url(../images/site/pinterest.jpg) no-repeat!important;
    width:25px!important;
    height:25px!important;
}
.testimonial {
margin: 0px;
padding: 0px;
width: 250px;
height: auto;
text-align: center;
line-height: 19px;
}
#enter_location_error_message {
position: relative;
margin-top: 37px;
width: 331px;
background: white;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
padding: 6px 8px;
margin-bottom: 5px;
border: 1px solid red;
color: red;
height: 16px;
display:none;
}


/*edit*/
#featured-offers-container {
background: white;
/*height: 370px;
width: 565px;*/
margin-right: 0;
/*margin-left: -5px;*/
position: relative;
z-index: 0;
}
#featured-offers-container .highlights-nav {
position: absolute;
top: 50%;
left: 0;
right: 0;
z-index: 9;
margin-top: 150px;
display:none;
}
#featured-offers-container .highlights-nav .hl-prev {
left: 0;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
}
#featured-offers-container .highlights-nav a {
background: white;
width: 40px;
line-height: 60px;
height: 60px;
margin-top: -30px;
position: absolute;
opacity: .5;
color: #212121;
text-decoration: none;
text-align: center;
font-size: 18px;
overflow: hidden;
-webkit-transition: "opacity .5s";
-moz-transition: "opacity .5s";
-o-transition: "opacity .5s";
transition: "opacity .5s";
-webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
-ms-border-radius: 3px 0 0 3px;
-o-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip: padding-box;
}
#featured-offers-container .highlights-nav .hl-next {
right: 0;
}
.margin-0 {
margin: 0px;
}
.pad-0 {
padding: 0px;
}
.no-list {
list-style: none;
}
#featured-offers-container li, #featured-offers-container figure, #featured-offers-container figcaption, #featured-offers-container dl {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
#featured-offers-container li {
display: none;
}
#featured-offers-container li.current{
display: block;
}
#featured-offers-container .image {
width: 100%;
height: 100%;
}
#featured-offers-container dl {
top: auto;
background: white;
background: rgba(255, 255, 255, 0.85);
margin: 0;
padding: 10px 10px 10px 80px;
min-height: 60px;
}
#featured-offers-container li, #featured-offers-container figure, #featured-offers-container figcaption, #featured-offers-container dl {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
#featured-offers-container dt {
width: 360px;
font-size: 18px;
font-weight: 700;
line-height: 22px;
}
#featured-offers-container dt, #featured-offers-container dd {
margin: 0;
padding: 0;
}
#featured-offers-container dt, #featured-offers-container dd {
margin: 0;
padding: 0;
}
#featured-offers-container .price {
position: absolute;
top: 8px;
right: 8px;
font-size: 13px;
text-align: right;
}
#featured-offers-container .price strong {
display: block;
color: #212121;
font-size: 24px;
line-height: 16px;
}
#featured-offers-container .price strong sup {
font-size: 13px;
font-weight: 400;
top: -7px;
}
#featured-offers-container .host {
min-height: 60px;
position: absolute;
top: 10px;
left: 10px;
width: 60px;
}
.avatar-60 {
border-image: initial;
border: 1px solid #CCC;
display: block;
height: 56px;
padding: 1px;
width: 56px;
}
.listing_image{
    width: 498px;
    height: 310px;
}



/* inner static page css start here */

.mar30{margin-top:30px;}
.mar20{margin-top:20px;}
.mar17{margin-right:17px;}
.mar10{margin-top:10px;}
.mar5{margin-top:5px;}
.con-panel{margin:0px; padding:0px; width:auto; height:auto;}
.faq{margin:0px; padding:0px; width:auto; min-height:400px; height:auto; background:url(../images/site/faq-question.png) no-repeat right top;}
.faq ul{margin:10px 0px 0px 0px; padding:0px; text-decoration:none; list-style:none;}
.faq li{margin:0px; padding:0px 0px 0px 15px; text-decoration:none; background:url("../images/site/right_arrow.gif") no-repeat scroll left 6px transparent;
line-height:20px; /*font-family:'LucidaSansUnicodeRegular';*/}

.con-panel .big-txt{margin:0px 0px 25px 0px; padding:0px; font-weight:bold; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:26px; color:#666666;}
.con-panel .medium-txt{margin:0px 0px 15px 0px; padding:0px; font-weight:normal; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:20px; color:#F4801F;}
.con-panel .small-txt{cursor:pointer;margin:0px 0px 10px 0px; padding:0px; font-weight:bold; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:16px; color:#F4801F;}
.con-panel p{margin:0px; padding:0px; font-weight:normal; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:12px; color:#666666; width:955px; text-align:justify; line-height:20px} 
.con-panel ul{margin:10px 0px 0px 0px; padding:0px; text-decoration:none; list-style:none;}
.con-panel li{margin:0px; padding:0px 0px 0px 15px; text-decoration:none; background:url("../images/site/right_arrow.gif") no-repeat scroll left 6px transparent;
line-height:20px; /*font-family:'LucidaSansUnicodeRegular';*/}
.pad30_left { padding-left:30px!important; }
.li_heading { color:#393C3D!important; font-weight:bold!important;}
.con-panel a{color:#666666; text-decoration:underline;}

.about-con-panel{margin:0px; padding:0px; width:auto; height:auto; /*font-family:'LucidaSansUnicodeRegular';*/}
.about-top{margin:0px; padding:0px; width:auto; height:auto;}
.common-panel{margin:0px; padding:20px 0px 20px 20px; width:auto; height:auto; background:url(../images/site/common-gradient.jpg) repeat-x; }
.common-panel h1{margin:0px; padding:0px; font-size:28px; font-weight:bold;}
.common-panel h3{margin:10px 0px 0px 0px; padding:0px; font-size:17px; font-weight:normal; color:#f58220;}
.common-panel p{margin:0px; padding:0px; font-size:16px;}
.common-panel-left{margin:0px 80px 0px 0px; padding:0px; width:380px; height:auto;}
.common-panel-right{margin:0px; padding:0px; width:380px; height:auto;}
.common-panel-in{margin:0px; padding:0px; width:420px; height:auto;}
.common-panel-in-top{margin:0px; padding:0px; width:auto; height:auto;}
#fun_area .common-panel-in-top-small-txt{margin:0px 0px 0px 4px;}
#integrity_area .common-panel-in-top-small-txt{margin:0px 0px 0px 12px;}
.common-panel-in-top-small-txt{cursor:pointer;margin:0px 0px 0px 10px; padding:10px 0px 0px 0px; font-weight:normal; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:16px; color:#F4801F;}
.common-panel-in-bottom{margin:0px; padding:0px 0px 0px 53px; width:auto; height:auto;}

/*.about-left{margin:0px; padding:0px; width:auto; height:auto;}
.about-right{margin:0px; padding:0px; width:568px; height:auto; text-align:center;}*/
.about-bottom{margin:30px 0px 0px 0px; padding:0px; width:auto; height:auto;}
.about-bottom-in{margin:0px 17px 0px 0px; padding:0px; width:122px; height:auto; text-align:center;}
.about-bottom-in2{margin:0px; padding:0px; width:126px; height:auto; text-align:justify;}
.about-bottom-in-smalltxt{margin:0px; padding:0px; font-size:14px; color:#FF9900; text-align:center;}

.about-con-panel .big-txt{margin:0px 0px 15px 0px; padding:0px; font-weight:bold; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:26px; color:#666666;}
.about-con-panel .medium-txt{margin:0px 0px 15px 0px; padding:0px; font-weight:normal; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:20px; color:#F4801F;}
.about-con-panel .small-txt{cursor:pointer;margin:0px 0px 10px 0px; padding:0px; font-weight:normal; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:16px; color:#F4801F;}
.about-con-panel p{margin:0px; padding:0px; font-weight:normal; /*font-family:'LucidaSansUnicodeRegular';*/ font-size:12px; color:#666666; text-align: center justify; line-height:20px;}   

.jobs-panel{margin:0px; padding:0px; width:auto; height:auto;}
.jobs-panel-top{margin:0px auto; padding:0px; width:771px; height:344px; background:url(../images/site/jobs-top-bg.png) no-repeat center;}
.jobs-panel-top h2{margin:32px 0px 53px 0px; padding:0px; font-size:20px; font-weight:bold; color:#000000; /*font-family:'LucidaSansUnicodeRegular';*/ }
.jobs-panel-top h3{margin:0px; padding:0px; font-size:18px; font-weight:normal; color:#FFFFFF;}

.search-job{margin:0px; padding:30px 0px 0px 0px; width:196px; height:auto; text-align:center;}
.apply-online{margin:0px; padding:50px 0px 0px 0px; width:185px; height:auto; text-align:center;}
.apply-online h2{margin:12px 0px 53px 0px; padding:0px; font-size:20px; font-weight:bold; color:#000000; /*font-family:'LucidaSansUnicodeRegular';*/ }
.receive-dates{margin:0px; padding:30px 0px 0px 0px; width:196px; height:auto; text-align:center;}
.interview-online{margin:0px; padding:50px 0px 0px 0px; width:174px; height:auto; text-align:center;}
.interview-online h2{margin:12px 0px 28px 0px; padding:0px; font-size:20px; font-weight:bold; color:#000000; /*font-family:'LucidaSansUnicodeRegular';*/ }

.jobs-panel-mid{margin:0px; padding:0px; width:auto; height:auto; text-align:center;}
.jobs-panel-mid h1{margin:0px 0px 20px 0px; padding:0px; font-size:26px; font-weight:bold; color:#f58220; /*font-family:'LucidaSansUnicodeRegular';*/ }
.jobs-panel-mid h2{margin:0px; padding:0px; font-size:19px; font-weight:normal; color:#6e6e6e;  font-family:'ComicSansMS';}
.font_comic { font-family:'ComicSansMS'; font-weight:bold; }


.jobs-panel-bottom{margin:0px; padding:0px; width:auto; height:auto;}
.jobs-panel-bottom-left{margin:0px; padding:0px; width:600px; height:410px; background:url(../images/site/lady.jpg) no-repeat right bottom;}
.view-job{margin:0px; padding:0px; width:115px; height:38px; background:url(../images/site/view-jobs.png) no-repeat; border:0; cursor:pointer;}
.apply-job{margin:0px; padding:0px; width:115px; height:38px; background:url(../images/site/apply.png) no-repeat; border:0; cursor:pointer;}
.jobs-panel-bottom-right{margin:0px; padding:0px; width:334px ; height:auto;}
.jobs-panel-bottom-left p{font-size:14px; width:350px;}
.jobs-panel-bottom-right p{font-size:13px; width:300px;}


.host-txt{margin:20px 0px 0px 10px; padding:0px; font-size:16px; float:left;}
.decimal li {list-style:decimal!important;} 
/* inner static page css end here */
#verification_options #p4-verifications {
    margin-top: 10px;
    border: 1px solid #d1d1c9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#verification_options #p4-verifications .verification-flow-intro a {
    border: 0
}

#verification_options #p4-verifications .verification-flow-container {
    margin-top: 0
}

#verification_options #p4-verifications .verification-flow-container .verification-flow-panels {
    border: 0
}

.verification-flow-container {
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5)
}

.verification-flow-container .verification-flow-step {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 16px;
    color: #848484
}

.verification-flow-container p.verifications-comma-separated {
    font-size: 16px;
    color: #959595
}

.verification-flow-container p.verifications-comma-separated:first-letter {
    text-transform: capitalize
}

.verification-flow-container .verification-flow-intro {
    display: none
}

.verification-flow-container .verification-flow-intro h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #393c3d
}

.verification-flow-container .verification-flow-intro a {
    position: relative;
    border: 1px solid #d2d2d2;
    display: block;
    padding: 15px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #f6f6f6;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#f6f6f6));
    background: -moz-linear-gradient(top, #fff, #f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.verification-flow-container .verification-flow-intro a:hover {
    text-decoration: none;
    background: #fdfdfd;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#fdfdfd));
    background: -moz-linear-gradient(top, #fff, #fdfdfd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffdfdfd', GradientType=0)
}

.verification-flow-container .verification-flow-intro a:active {
    background: #fafafa;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#fafafa));
    background: -moz-linear-gradient(top, #fff, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffafafa', GradientType=0);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.1),inset 0 0 6px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1),inset 0 0 6px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1),inset 0 0 6px rgba(0,0,0,0.7);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1),inset 0 0 6px rgba(0,0,0,0.7)
}

.verification-flow-container .verification-flow-intro a span.arrow {
    float: right;
    position: absolute;
    background: url(../images/site/book_arrow.png) no-repeat;right: 15px;
    top: 23px;
    width: 19px;
    height: 27px
}

.verification-flow-container .verification-flow-complete {
    display: none;
    position: relative
}

.verification-flow-container .verification-flow-complete h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #393C3D
}

.verification-flow-container .verification-flow-complete .checkmark {
    width: 24px;
    height: 24px;
    top: 20px;
    right: 15px;
    position: absolute;
    display: block;
    background: url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAEyklEQVRIiZWUbUyVZRjHn%2Fs553mBjTG0rfX2xdbWsvXBWbYZWcm7cHg7HODwdlyQEhgoVGTvUZpztjKJBA15f8cDIgIKBiJJmiKUSm0uP7T8UBtbatmAf9f1nOPBIwh2b%2F9z7t33df3%2B13099%2FNI7%2F3sK91NMU7TElI2qZ10hjTl1hn3Gu8tkRYa84IPmvxJ2%2BM7THh5QEX%2BDzoKzvtg64SvIZ7zGu9xDMdyzrwG7074eim6zeSIdZqQNajizQu%2BeP2ijtwxHRvOacg8q8FxRsN6UhbNs89ryBv3QSbFcg7nzjW45OuZR7eaiuLbzdhy1gdv%2FKTj1XM6HCMa0k9pSPvOW7yWQeL9TDLM%2BV4H5zLDy2DrBd34t7TIjniqomBUw%2BYxqvKUitSTKlIWEcekDatwUHzWiIo4YjDLY%2FDWj7pkaZb9o1tk5J3WkE%2BtSB9SYR%2F8f0o9oSKDzNbTP7OYaRgUjetSVJP88fo%2BBVuo%2BgyCJ397b0rqU5HQrcLWS%2FN%2BOhE9dM6395gRWS9vMwwiG6j6Jhmb6Va8Qj21H6fk%2FsWVSNDYRh01p4uxpSOQbpNrPZWMHYMaLMRcu0cOkMjJntJlpmunIeW4q6rFZOuhNtTpODpeBx43bv6F1zpWwUansZNJOp3E1mlGeKW8SVpXK7dnU9820s1IZsCxhcWQ6FodvW74rbGz34GELtVgpFKhKb0Kwg%2FIXVJEjXxpE8EdA65jsxgS56QWtKqwdtJaj2udAZZqgo%2B54DMzM4ZK%2BgoR3aAYeRxnp0LSyCi8Sv5diqiSJ%2FPpDvMCg2xHqMJGBZ8dy8bolQEkVT9I95vgZGSpmh9uqSd4l7sQkv0oPex%2BDRGV8r8SHWMyd1hHEoGth1xVb%2B9O8xz98tULsJU9grASHT2j3vA9vYWIrFQQ73Tl3lLiYWpRj4awCvm6RD%2BXssjNSlXGENzSoCKv6QX8ffO6AZmensaVq79g5GKfB8xru48UIGyfgugmV97tYkMb3aqQcvmyFLpftDu6FSR2KFQ9JTQrWEdV5dcGGyYMY82BlytGK2NavMUMq5NO1WbG2i9FnxS6T6RZm01I7po1sDTRDahQkFcTjBv%2FXMPU1JRHX3QVILSMYhpcsXfKMGin%2FToTVn8o3pdCyoR%2F2D6B9F7epI9Vs5kMzIhqNCPsG3o%2F6oLw2x%2B%2FYvLan9h1OBche2mv3hVzpziXGVb66FHhuH%2BF9JS08YQiBZWKHQktJmMjpmU2gU0iqswGNLiUXpyKu8NZnBvvpJg6GauLxX76UDxgGDz3iQgI%2FlrA3mlCXJu3yb2Kczg3rtUEZt33pLSSDPyljUOK8U168XOxIaxcIPEQBR2kBG4XGzUvLI7hWM6xOvm0Ak8Xig8I%2BRBJk3LcBjTkNbvER6FlAtY2V7u4Iu4pV8f9vV28xnscw7HxVDnDV70tSoi1jOTHTCnnpMeAh5nalRP0lUAM9TGBEq0drr5yhbFu8ZzXeI9jLDUygkoEVuQZlT9GCmCWQcz1NuChPGoRy%2BghlbJRVLWMOL4AB01IpC8ki%2Be8FllFYIp59h1xYOly6Xl35QyfheYOK3Pkdvd7OFBa%2FkyRKA78VAyu2SkmXtotwOJ54DYxtLJA7Fj6hAF%2B3N1zP0%2Fl7vEfDq81c6QY0ooAAAAASUVORK5CYII%3D) no-repeat
}

.verification-flow-container .verification-flow-panels {
    padding: 10px
}

.verification-flow-container .verification-flow-panel {
    display: none
}

.verification-flow-container .verification-flow-panel .verification-flow-header h3 {
    font-size: 16px;
    margin-bottom: 10px;
    float: left
}

.verification-flow-container .verification-flow-panel .verification-flow-header span.addendum {
    float: left;
    margin-left: 10px;
    line-height: 24px;
    color: #888
}

.verification-flow-container .verification-flow-panel.profile_photo .photo-widget {
    margin-bottom: 5px
}

.verification-flow-container .verification-flow-panel.phone_verification .phone-numbers-container {
    margin: 0
}

.verification-flow-container .verification-flow-panel.basic_profile p.suggestion {
    margin-bottom: 10px;
    color: #888;
    clear: both
}

.verification-flow-container .verification-flow-panel.basic_profile textarea {
    width: 98%;
    min-height: 50px
}


.verification-flow-container .verification-flow-panel.full_profile .criteria {
    margin-bottom: 20px
}

.verification-flow-container .verification-flow-panel.full_profile .criteria p.suggestion {
    color: #bbb
}

.verification-flow-container .verification-flow-panel.full_profile .criteria label {
    font-weight: bold;
    font-size: 1.2em
}

.verification-flow-container .verification-flow-panel.full_profile .criteria label input,.verification-flow-container .verification-flow-panel.full_profile .criteria label select {
    float: right
}

.verification-flow-container .verification-flow-panel.full_profile .criteria label input {
    margin-top: -3px
}

.verification-flow-container .verification-flow-panel.full_profile .criteria label select {
    margin-left: 3px;
    font-size: 1.1em
}

.verification-flow-container .button-bar {
    margin-top: 5px
}



.verification-flow-container.loading span.loading {
    display: inline-block
}

.verification-flow-container.required .verification-flow-intro {
    border: 1px solid #e00
}

textarea {
    font-family: Arial, Helvetica, Tahoma
}

.relative {
    position: relative
}

#how_it_works,#book_it {
    color: #5f5f57;
    width: 620px;
    padding: 20px;
    background: #fafafa;
    margin: 0 auto;
    border: 1px solid #c3c3c3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}

#book_it #confirm_real_name .complete {
    background-color: green
}

#book_it #policies a {
    padding-right: 18px;
    background: url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAA20lEQVQokWNIP%2FCGAQnLAXEeEE8B4rlAXAfELshqkBUHAfFuID6EBXcDMR%2ByBnN0RYVH3h5FE2uAaWAC4rXoGu5%2F%2Bv2%2B9Ni7Y2jiliANJjCB2Vc%2FXT7z6udzEP7z7%2F%2B%2F51%2F%2FfEbTVA3S4AcT2Pno2%2F3%2FaODJlz8fMw%2B%2BOQxVMwmkwQmmYdWdLzdBpoLwv%2F%2F%2F%2F%2F36%2B%2B%2FP1MufLiLZ0MkA9f0BdD%2B8%2BvbnS8e5D2fRxCNhoZSOrqH8%2BLvjaGLLgZgTpoEViKfjiAMQ3gnEeugRBwreOCDejiXSJGHqAI6tbDtaoCCdAAAAAElFTkSuQmCC) no-repeat center right;display: block
}

#how_it_works {
    background: #FFBAB0;
    font-size: 1.2em;
    margin-bottom: 20px
}

#how_it_works p {
    margin-top: 1em
}

#payment_options {
    overflow: hidden
}



.icon_cal {
    background-position: 0 0 !important
}

.icon_person {
    background-position: 0 -16px !important
}

.icon_calc {
    background-position: 0 -32px !important
}

.icon_check {
    background-position: 0 -48px !important
}

.icon_crossed_out {
    background-position: 0 -64px !important
}

.icon_house {
    background-position: 0 -80px !important
}

.icon_star {
    background-position: 0 -96px
}

#total .checkout_icon {
    margin-top: 10px !important
}

.icon_coupon {
    background-position: 0 -112px !important
}

.icon_briefcase {
    background-position: 0 -128px !important
}

.icon_people {
    background-position: 0 -144px !important
}

.icon_quotes {
    background-position: 0 -160px !important
}

.icon_location {
    background-position: 0 -176px !important
}

.icon_concierge {
    width: 19px;
    height: 14px;
    background-position: left -192px;
    margin-right: 7px;
    margin-left: -1px
}

#icon_cal {
    background-position: 0 0
}

#icon_person {
    background-position: 0 -16px
}

#icon_calc {
    background-position: 0 -32px
}

#icon_check {
    background-position: 0 -48px
}

#icon_crossed_out {
    background-position: 0 -64px
}

#icon_house {
    background-position: 0 -80px
}

#icon_coupon {
    background-position: 0 -112px
}

.strike-price {
    text-decoration: line-through;
    color: #F4801F;
    font-weight: bold
}

#trip_details .strike-price-inner {
    color: #5f5f57;
    font-weight: normal;
    float: none
}

.dashed_table .free-price {
    color: #F4801F;
    font-size: 1.4em;
    line-height: 20px;
    padding-left: 10px;
    position: relative;
    bottom: -2px
}

.details-link {
    float: right;
    font-size: 12px;
    margin: 12px 10px 8px 0
}

.book_it_section {
    width: 620px;
    overflow: hidden
}

#how_it_works h1,#book_it h1 {
    font-size: 24px;
    color: #33332f;
    font-weight: bold;
    margin-top: 20px
}

#book_it .first h1 {
    margin-top: 5px
}

#how_it_works h1 {
    margin-top: 0
}

#verification_options .content_box.tip {
    background: #E7FFBC !important;
    color: #494949;
    font-size: 13px;
    letter-spacing: -0.1px
}

#verification_options input[type="submit"] {
    width: auto !important;
    color: #333
}

#verification_options textarea {
    width: 590px;
    display: block;
    border: 1px solid #DDD;
    -o-box-shadow: inset 0px 2px 2px -1px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 2px 2px -1px rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0px 2px 2px -1px rgba(0,0,0,0.8);
    box-shadow: inset 0px 2px 2px -1px rgba(0,0,0,0.8);
    border-top: 0;
    margin-bottom: 10px
}

#verification_options span.example {
    font-size: 0.9em;
    color: #aaa;
    text-decoration: italic;
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    line-height: 18px
}

#verification_options textarea.error {
    border: 2px solid #E97070;
    box-shadow: none
}

#verification_options .additional_info label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block
}

#verification_options .additional_info input {
    float: left
}

#verification_options .verification-flow-container {
    margin-top: 10px
}

#verification_options .verification-flow-container .verification-flow-panels {
    background-color: #f8f8f8;
    border: 1px solid #d1d1c9;
    padding: 10px 15px 12px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

#verification_options .verification-flow-container .verification-flow-complete {
    background-color: #f8f8f8;
    border: 1px solid #d1d1c9;
    padding: 11px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.content_box {
    background: #f8f8f8;
    border: 1px solid #d1d1c9;
    padding: 11px;
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

#property_details .main_photo {
    float: left;
    display: block;
    width: 210px;
    height: 140px;
    margin-right: 21px
}

#hosting_details {
    float: left;
    width: 360px
}

#hosting_details h2 {
    font-size: 16px;
    padding: 0 5px 6px 7px
}

#hosting_details h2 a {
    /*color: #1D95CB*/
}

#hosting_details #hosting_address {
    float: left;
    background: #ffffff;
    padding: 10px 16px 14px 16px;
    border: 1px solid #d1d1c9
}

#hosting_details p {
    padding: 4px 0 1px 7px
}

.thin_line {
    border: none;
    border-bottom: 1px solid #D1D1C9;
    clear: both;
    margin: 11px -11px
}

.dashed_table {
    margin-top: 10px;
    float: left
}

.dashed_table li {
    width: 618px;
    float: left;
    padding-top: 0px;
    border: 1px solid #d1d1c9;
    border-width: 0 1px;
    border-bottom: 1px dashed #cbcbcb
}

.dashed_table li.top {
    border-top-width: 1px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px
}

.dashed_table li.bottom {
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom: 1px solid #cbcbcb
}

.dashed_table .dashed_table li {
    border-width: 0
}

.dashed_table span {
    display: block;
    float: left;
    font-size: 17px
}

.dashed_table .label,.dashed_table li .data {
    line-height: 20px
}

.dashed_table .label {
    width: 200px;
    background: #f8f8f8
}

.es .dashed_table .label,.ru .dashed_table .label {
    width: 250px
}

.dashed_table .data {
    width: 417px;
    border-left: 1px solid #d1d1c9
}

.es .dashed_table .data,.ru .dashed_table .data {
    width: 367px
}

.es .dashed_table .data .signpainter,.ru .dashed_table .data .signpainter {
    font-size: 20px;
    position: relative;
    top: -2px
}

.dashed_table .data .inner {
    font-size: 16px
}

.dashed_table .staggered .data {
    background: #FFFDBC
}

.dashed_table .staggered .label {
    background: #FFFDBC
}

.dashed_table .staggered .label .inner {
    float: right
}

.dashed_table .staggered .inner {
    font-size: 0.8em
}

.dashed_table li.top span.label {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px
}

.dashed_table li.bottom span {
    border-bottom: 0
}

.dashed_table li.bottom span.label {
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px
}

.fr .dashed_table span.label,.fr .dashed_table li.bottom .data {
    height: 60px
}

.dashed_table li.bottom span.data {
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px
}

.dashed_table span.inner {
    padding: 10px 20px 10px 11px
}

.dashed_table sup {
    line-height: 0;
    font-size: 10px
}

.dashed_table li.single_row {
    border: 1px solid #d1d1c9;
    border-width: 1px 1px 1px 1px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px
}

.dashed_table li.single_row span.label {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px
}

.dashed_table li.single_row span {
    border-bottom: 0
}

.dashed_table li.single_row span.label {
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px
}

.dashed_table li.single_row span.data {
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px
}

#coupon_value {
    color: #EC00AC;
    font-weight: bold;
    font-style: italic
}

#coupon_explanation {
    margin-bottom: 10px;
    margin-top: 5px;
    float: left;
    padding: 0 13px;
    font-size: 12px;
    color: #7F7F77 !important
}

select#payment_country {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0;
    margin-left: 7px;
    padding: 1px;
    vertical-align: middle
}

#total,.total {
    background: #FFFDBC
}

#total span.label,#total span.data {
    line-height: 36px !important;
    background: #FFBAB0
}

#total span.data span.inner {
    font-size: 30px !important;
    font-weight: bold
}

a#coupon_show_link,a#coupon_hide_link {
    float: right;
    margin: 10px;
    font-size: 13px;
    font-weight: normal
}

#payment_options h1 span#change_country_link {
    font-size: 14px;
    padding-left: 10px;
    font-weight: normal;
    letter-spacing: normal
}

#payment_options h1 span#country_name {
    font-weight: normal;
    font-style: italic
}

#payment_options #change_country_dropdown {
    padding: 4px 0 10px 325px
}

#payment_options div.currency_alert {
    background: #ffffff;
    border: 1px solid #d1d1c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px 10px;
    margin: 0 0 22px 0;
    width: 578px
}

#payment_options #cc_address {
    float: left;
    width: 300px;
    padding: 0 0 0 13px
}

#payment_options #cc_details {
    width: 255px;
    float: left;
    background: url(../images/site/cc_logos.png) no-repeat 30px 0;
    padding: 30px 0 0 30px
}



p.paypal_explanation {
    padding: 0 22px 0 150px;
	background: url(../images/site/logo_paypal.png) no-repeat 20px 5px;
}

p.bank_transfer_explanation {
    background-image: url(../images/site/logo_bank_transfer.gif);
	background-repeat:no-repeat;
    padding-left: 170px
}



* html p.sofort_explanation {
    height: 75px
}

* html p.poli_explanation {
    height: 75px
}



p.echeck_call_to_action {
    height: 23px;
    overflow: hidden;
    line-height: 23px;
    color: #000000;
    font-size: 14px;
    padding-left: 8px
}

#echeck_fields {
    width: 300px;
    float: left
}

#book_it input[type="text"] {
    margin: 0 0 10px 0;
    width: 285px;
    color: #333
}

#book_it input.active {
    color: #333333
}

#book_it input.error {
    border: 2px solid #e97070
}

#book_it label.error {
    color: #e97070;
    font-weight: bold;
	margin-top: -7px!important;
	margin-bottom: 10px!important;
}

#book_it input[type=radio],#book_it input[type=checkbox] {
    width: auto
}

#book_it .extras div>label {
    float: left;
    font-size: 13px;
    padding-right: 14px;
    width: 250px;
    line-height: 20px
}

#book_it .extras div>input {
    margin: 0;
    width: 140px
}

#book_it p#general_cc_error {
    background: #FCECEC none repeat scroll 0 0;
    border: 2px solid #E97070;
    color: #222222;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 5px;
    width: 235px;
    margin: 2px 0 15px;
    text-align: center
}

p#book_it_fine_print {
    color: #A2A29C;
    font-size: 13px;
    font-weight: normal;
    margin: 15px 10px 5px 10px;
    padding: 5px 0 0 5px
}

div.book_it_section p.error {
    color: #333333 !important;
    font-size: 14px !important;
    border: 2px solid #E97070 !important;
    background: #FCECEC !important
}

p#book_it_fine_print div.book_it_section p {
    border: 2px solid #FFFFFF
}

label[for='agrees_to_terms'] {
    display: block;
    float: left;
    padding-left: 6px;
    width: 560px;
    font-size: 15px
}

.house_rules_label {
    width: 140px
}

span#book_it_click_message {
    margin-left: 5px
}

input#p4_book_it_button {
    width: auto !important;
    font-size: 1.5em
}

span#coupon_fields {
    overflow: hidden
}

div.book_it_errors {
    width: 592px;
    background: #fcecec;
    border: 4px solid #e97070;
    padding: 10px;
    float: left;
    margin: 10px 0
}

.book_it_errors ul {
    float: left;
    width: 580px
}

.book_it_errors ul li {
    padding: 2px 10px;
    font-size: 13px
}

.book_it_errors ul li.error_header {
    font-weight: bold;
    font-size: 16px
}

.book_it_errors ul li.error_message {
    list-style-position: inside;
    list-style-type: square
}

#security_seals {
    position: absolute;
    right: 0px;
    width: 160px;
    text-align: center
}

#security_seals span#siteseal,img#paypal_seal {
    display: block;
    margin: 20px auto
}

img#promise_seal {
    position: absolute;
    right: 0px;
    display: block;
    margin: 10px 28px
}

.details_dropdown {
    position: absolute;
    right: 0;
    margin-top: 110px
}

#book_it #policies .details_dropdown a {
    padding-right: 15px;
    display: inline
}

#transparent_bg_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999998;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50)
}

.super_lightbox {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 2px solid #333333;
    background-color: white;
    z-index: 999999;
    overflow: auto;
    color: #333333
}

.super_lightbox h3 {
    font-size: 21px;
    font-weight: bold;
    border-bottom: 2px solid #333
}

.super_lightbox h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 5px
}

.super_lightbox a.hide_super_lightbox {
    font-size: 15px;
    display: block;
    float: right;
    padding-bottom: 10px;
    overflow: hidden
}

.super_lightbox ul li {
    border-bottom: 1px solid #e7e7e7;
    padding: 2px 4px 2px 0
}

.super_lightbox ul li:last-of-type {
    border-bottom: none
}

#page5 {
    color: #5f5f57;
    width: 620px;
    padding: 20px;
    background: #ffffff;
    margin: 0 auto;
    overflow: hidden
}


#page5 div.booking_error {
    background: #FCECEC
}

#page5 div.booking_outcome h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 11px
}

#page5 div.booking_outcome h3 {
    font-size: 16px;
    font-weight: normal
}

#page5 div.checkout_error_message {
    margin: 0 !important;
    border: 3px solid #EFC354
}

#page5 div.checkout_error_message h2 {
    font-size: 16px;
    padding: 10px 20px;
    background: #FFFDBC;
    width: 574px
}

form#message_form,form#post_a_room_form {
    overflow: hidden;
    padding-bottom: 5px
}

#user_photo {
    width: 145px;
    float: left;
    border-top: 1px dashed #CACACA;
    padding: 18px 27px 23px 27px;
    background: #f6f6f6
}

#user_photo img {
    width: 145px;
    height: 145px;
    display: block;
    background: #dedede
}

#user_photo p {
    text-align: center;
    font-size: 17px;
    height: 19px;
    overflow: hidden;
    padding-top: 4px
}

#user_message_box {
    width: 418px;
    float: left;
    border: 1px solid #d1d1c9;
    border-width: 1px 0 0 1px;
    height: 210px
}

#user_message_box p {
    border-bottom: 1px dotted #C8C8C8;
    padding: 10px;
    font-size: 15px
}

#user_message_box textarea {
    border: none;
    color: #33332f;
    font-size: 15px;
    height: 135px;
    padding: 10px;
    width: 398px
}

#page5 div.send_message_actions {
    float: right !important;
    margin-right: 10px
}

#page5 div.send_message_actions input {
    margin-left: 15px;
    font-size: 1.5em
}

#user_message_textarea {
    outline: none;
    resize: none
}

#page5 #post_a_room h3 {
    border: 1px dotted #d1d1d1;
    border-width: 1px 0;
    float: left;
    font-size: 16px;
    padding: 10px 20px;
    width: 578px;
    margin-bottom: 20px
}

#page5 #post_a_room ul {
    padding-left: 19px
}

#page5 #post_a_room ul li {
    width: 140px;
    float: left;
    display: block;
    list-style-type: none;
    text-align: center;
    padding: 0 0 30px 4px
}

#page5 #post_a_room ul li img {
    border: 6px solid #AFAFA7;
    margin-bottom: 4px;
    width: 112px;
    height: 112px
}

#page5 #post_a_room ul li img.checkbox {
    width: 112px;
    height: 112px;
    background: none;
    display: block;
    position: absolute;
    top: 6px;
    left: 14px;
    border: none !important
}

#page5 #post_a_room ul li a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    display: block;
    position: relative
}

#page5 #post_a_room ul li a:hover img {
    border-color: #6E6E6E !important
}

#page5 #post_a_room ul li img.selected {
    border-color: #6E6E6E !important
}

#page5 div#user_area {
    width: 564px;
    float: left;
    border-top: 1px dashed #CACACA;
    padding: 18px 27px 23px 27px;
    background: #f6f6f6;
    overflow: hidden
}

#page5 #user_area #user_left {
    width: 209px;
    float: left;
    position: relative;
    cursor: pointer
}

#page5 #user_area #user_right {
    width: 325px;
    float: left;
    padding-left: 30px
}

#page5 #user_area #user_right input {
    color: #A2A29C;
    font-size: 17px;
    padding: 4px 8px;
    width: 300px
}

#page5 #user_area #user_right input.active {
    color: #52525C
}

#page5 #user_area #user_right textarea {
    color: #52525C;
    font-size: 15px;
    padding: 4px 8px;
    width: 302px;
    height: 100px
}

#page5 #open-graph-publish-section {
    background: none repeat scroll 0 0 #FFFDBC
}

#page5 #open-graph-publish-section p {
    text-align: center;
    padding: 10px 20px
}

#page5 #open-graph-publish-section p a {
    margin-top: 20px
}

#accept_decline_top {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px
}

a.right_link {
    float: right;
    font-size: 12px;
    margin: 12px 10px 8px 0
}

#accept_decline {
    background: #ffffff;
    border: 1px solid #c3c3c3;
    color: #5f5f57;
    width: 620px;
    padding: 20px;
    margin: 0 auto
}

#accept_decline h2 {
    font-size: 28px;
    letter-spacing: -0.1px;
    color: #383828;
    font-weight: bold
}

#accept_decline #total span.label,#accept_decline #total span.data {
    line-height: 36px !important;
    background: #fffdbc
}

#accept_decline #total span.data span.inner {
    font-size: 30px !important;
    font-weight: bold
}

.accept_decline_section {
    overflow: hidden;
    border: 1px solid #D1D1C9;
    padding: 10px;
    margin: 10px 0
}

#guest_details_left {
    width: 200px;
    float: left
}

#guest_details_right {
    width: 398px;
    float: left
}

._pm_container {
    margin-bottom: 10px
}

#guest_connections h3,#guest_details_left h3 {
    font-size: 17px;
    font-weight: bold
}

img.message_thread_arrow {
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 2
}

.message_body {
    float: right;
    width: 363px;
    background: #f0faff;
    border: 1px solid #dddddd;
    margin-left: 27px;
    min-height: 40px
}

* html .message_body {
    height: 40px
}

.message_body p {
    padding: 10px 12px;
    font-size: 13px;
    color: #7c7c7c
}

img.reputation_arrow {
    position: absolute;
    left: 4px;
    top: 11px;
    z-index: 2
}

a.view_message_history_link {
    float: right;
    font-size: 10px;
    padding: 3px 0 0
}

ul#guest_detail_fields {
    width: 394px;
    float: left;
    overflow: hidden;
    padding: 0 0 0 10px
}

ul#guest_detail_fields li {
    width: 394px;
    border-bottom: 1px dotted #cccccc;
    font-size: 14px;
    overflow: hidden;
    float: left;
    padding: 7px 0;
    line-height: 16px
}

ul#guest_detail_fields li:last-child {
    border-bottom: none
}

ul#guest_detail_fields span.label {
    padding: 0 6px 0 25px;
    width: 99px;
    margin: 0 10px 0 0 !important;
    float: left;
    display: block;
    height: auto !important;
    height: 16px;
    overflow: hidden
}

ul#guest_detail_fields span.data {
    padding: 0;
    width: 254px;
    float: left;
    display: block
}

#guest_reputation {
    padding-top: 20px
}

#guest_reputation ul {
    width: 639px
}

#guest_reputation ul.reputation li {
    float: left;
    width: 639px;
    margin-bottom: 12px;
    position: relative
}

#guest_reputation ul.reputation li img.reputation_arrow {
    position: absolute;
    left: 62px;
    top: 11px;
    z-index: 2
}

#guest_reputation ul.reputation li div.review_meta {
    float: left;
    width: 68px;
    background: #ffffff;
    padding-top: 2px
}

#guest_reputation ul.reputation li div.review_body {
    float: left;
    width: 515px;
    background: #f5f5f5;
    border: 1px solid #dddddd;
    margin-left: 17px
}

#guest_reputation ul.reputation li div.review_body p {
    padding: 10px 12px;
    font-size: 13px;
    color: #7c7c7c;
    width: 500px
}

#guest_reputation ul.reputation li div.date {
    font-size: 10px;
    color: #333333
}

#guest_reputation div.subtitle {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px
}

#guest_reputation ul.grid_reputation li {
    float: left;
    margin-bottom: 4px;
    margin-right: 4px
}

#guest_reputation ul.grid_reputation {
    float: left;
    padding-top: 5px
}

#guest_reputation ul.grid_reputation .tooltip img {
    width: 50px;
    height: 50px
}

#guest_reputation ul.grid_reputation .tooltip {
    display: block;
    float: left
}

#guest_connections li {
    float: left;
    width: 33%;
    margin: 8px 0;
    position: relative;
    display: table
}

#guest_connections .room-connections-title {
    display: table-cell;
    vertical-align: middle
}

#guest_connections img {
    background: #FFFFFF;
    padding: 1px;
    border: 1px solid #DADADA;
    float: left;
    vertical-align: middle;
    margin: 0 5px
}

* html #guest_connections .room-connections-title,*+html #guest_connections .room-connections-title {
    position: absolute;
    top: 50%;
    width: 145px
}

* html #guest_connections .room-connections-title-outer,*+html #guest_connections .room-connections-title-outer {
    position: relative;
    top: -50%
}

ul#reputation_sub_nav {
    width: 639px;
    margin-bottom: 10px;
    float: left;
    margin-top: -9px;
    margin-bottom: 6px
}

ul#reputation_sub_nav li {
    float: left;
    display: inline;
    height: 20px;
    padding: 2px 13px 6px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-right: 8px
}

ul#reputation_sub_nav li:hover {
    background: #eaeaea
}

ul#reputation_sub_nav li a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #298dd8
}

ul#reputation_sub_nav li.selected {
    background: #bfbfb5;
    -moz-box-shadow: inset 1px 1px 10px #888888;
    -webkit-box-shadow: 1px 1px 10px #888888 inset
}

ul#reputation_sub_nav li.selected a {
    text-shadow: 2px 2px #afafa6;
    color: #ffffff
}

ul.verifications-list {
    margin-top: 5px;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

ul.verifications-list li.verifications-list-item {
    padding: 10px 5px
}

div.rep_content {
    overflow: hidden;
    float: left
}

p.empty_reputation_results {
    padding: 7px 13px 4px 13px;
    font-size: 14px;
    font-style: italic
}

.countdown_amount {
    font-size: 26px !important;
    font-weight: bold;
    color: #9c9c95 !important
}

p.no_countdown {
    color: #9C9C95 !important;
    font-size: 24px !important;
    font-weight: bold !important
}

#reservation_details {
    overflow: visible !important
}

#reservation_details h2 {
    float: left
}

@-moz-keyframes shake {
    0% {
        left: 0
    }

    100% {
        left: 16px
    }
}

@-webkit-keyframes shake {
    0% {
        left: 0
    }

    100% {
        left: 16px
    }
}

#accept_decline_actions {
    overflow: visible;
    padding: 0;
    -webkit-transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s;
    position: relative;
    z-index: 9999
}

#accept_decline_actions span.data {
    padding-top: 5px;
    float: left
}

#accept_decline_actions.needs_verifications {
    background-color: #eaeaea
}

#accept_decline_actions.needs_verifications .verifications_wrapper h3.before_replying {
    display: block
}

#accept_decline_actions .verifications_wrapper {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #D1D1C9;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    position: relative
}

#accept_decline_actions .verifications_wrapper h3.before_replying {
    display: none;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px
}

#accept_decline_actions .verifications_wrapper .verification-flow-container {
    margin-top: 10px
}

#accept_decline_actions .verifications_wrapper .verification-flow-container .verification-flow-complete {
    background-color: #f8f8f8;
    border: 1px solid #d1d1c9;
    padding: 11px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}


#accept_decline_actions .verifications_wrapper .verification-error-msg-container {
    width: 170px;
    position: absolute;
    right: -174px;
    top: 40px
}

#accept_decline_actions .verifications_wrapper .verification-error-msg {
    display: none;
    padding: 17px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 #84080c;
    background: #e1141d;
    background: -webkit-gradient(linear, center top, center bottom, from(#ff3a40), to(#e1141d));
    background: -moz-linear-gradient(top, #ff3a40, #e1141d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff3a40', endColorstr='#ffe1141d', GradientType=0);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),inset 0 0 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),inset 0 0 1px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),inset 0 0 1px rgba(255,255,255,0.7);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4),inset 0 0 1px rgba(255,255,255,0.7);
    border: 1px solid #e6272d;
    position: absolute;
    width: 150px;
    text-align: center;
    line-height: 1.5;
    font-size: 13px;
    -webkit-animation: shake 0.75s ease-in-out infinite alternate;
    -moz-animation: shake 0.75s ease-in-out infinite alternate
}



#accept_decline_actions .actions_wrapper {
    position: relative;
    padding: 10px
}


span.expires_in span.inner {
    font-size: 14px;
    line-height: 13px
}

a.host_action_button {
    width: 122px;
    font-size: 18px;
    border: 1px solid #b1b1b1;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 999;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    height: 37px;
    color: #ffffff;
    cursor: pointer;
    padding: 0
}


a.host_action_button_active {
    height: 41px !important;
    color: #9c9c95 !important;
    cursor: default !important;
    background: #f6f6f6 !important;
    border-color: #b1b1b1 !important;
    border-bottom: none !important;
    text-shadow: 0 1px 1px white;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -o-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent
}

a.host_action_button_active:hover {
    -o-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent
}

#host_action_accept {
    background-color: #8cad44;
    background-position: 0 0
}

#host_action_decline {
    background-color: #d4373c;
    margin: 0 12px;
    background-position: 0 -37px
}

#host_action_other {
    background-color: #73bfe5;
    background-position: 0 -74px
}

div.host_action_text {
    width: 90px;
    float: left;
    text-align: center;
    padding-left: 10px
}

div.host_action_arrow {
    width: 17px;
    float: left;
    height: 37px;
    background-image: url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n%2BBAAAAoElEQVQYV2NsamqayMPDkwfEDCwsLAx4wL%2Ffv383AtWwlIqJiX1VUVGpFBYWZmBmZsam%2BNOvX7%2ByXr9%2BvYzh%2F%2F%2F%2FDDNmzGA8cOBA64sXL0Cm%2FEcG%2F%2F79%2B%2FDjx48IkDoQZoAxpk2bxrx%2F%2F%2F7W58%2Bf%2F4VpAip%2BB1QcCVODogGqiQWq6T%2FQCS%2B%2Ff%2F8egSyPoQGEp0%2BfLnzo0KHjQOfNRZcDYQAvqafBKskXsAAAAABJRU5ErkJggg%3D%3D);background-position: center left;
    background-repeat: no-repeat
}

a.host_action_button_active div.host_action_arrow {
    background-image: url(data:image/png;
    base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAGCAYAAAD37n%2BBAAAAYklEQVQYV2OYP3%2FG%2FzlzphCFFy2a%2FZ%2FhyrWTTgsXziSoeM2aJf%2Bu3zzNwwDkMIAY%2BDStWbv0H0gdCDPAGFevn1LCpglZMYoGqCZdZE3oijE0gPDZ80dmgxTPmzftP7ocCAMAgSSxiXCpcWgAAAAASUVORK5CYII%3D) !important
}

#host_action_accept,#host_action_accept div.host_action_arrow {
    border-color: #799430
}

#host_action_decline,#host_action_decline div.host_action_arrow {
    border-color: #be312f
}

#host_action_other,#host_action_other div.host_action_arrow {
    border-color: #60a5c9
}

#accept_decline_step2 {
    position: absolute;
    width: 394px;
    -o-box-shadow: 0 15px 41px #787878;
    -moz-box-shadow: 0 15px 41px #787878;
    -webkit-box-shadow: 0 15px 41px #787878;
    box-shadow: 0 15px 41px #787878;
    top: 56px;
    left: 10px;
    border: 1px solid #b1b1b1;
    z-index: 998;
    background: #f6f6f6
}

#accept_decline_step2 textarea {
    width: 360px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    height: 70px;
    padding: 7px;
    font-size: 12px;
    border: 1px solid #d1d1c9;
    resize: none
}

#accept_decline_step2 input.button-glossy {
    font-size: 1.5em
}

.accept_decline_step2_left {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0
}

.accept_decline_step2_middle {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px
}

.accept_decline_step2_right {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    background: #f6f6f6
}

#accept_decline_step2 .tos-box {
    margin-top: 5px;
    margin-right: 5px;
    overflow: hidden
}

#accept_decline_step2 .tos-box input {
    float: left
}

#accept_decline_step2 .tos-box label {
    float: left;
    width: 240px;
    margin-left: 6px
}

#accept_decline_step2 .tos-box p {
    float: left;
    margin-left: 20px;
    margin-top: 7px
}

.step_body {
    padding: 10px;
    overflow: hidden
}

#step_other h3 {
    color: #383836;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dotted #cacaca;
    padding: 2px 15px 10px 15px;
    margin: 0 -10px
}

#step_other ul {
    overflow: hidden;
    padding: 11px 0 0 5px
}



#step_other p {
    color: #696962;
    font-size: 12px;
    font-style: italic;
    padding: 18px 10px 4px 5px
}

#decline_reason_container {
    padding: 0 10px;
    margin: 0 -10px 10px -10px;
    padding: 2px 15px 10px;
    border-bottom: 1px dotted #CACACA
}



#multibooker_warning {
    color: #5f5f57;
    font-size: 1.2em;
    width: 620px;
    padding: 20px;
    background: #fff7b6;
    margin: 0 auto 20px auto;
    overflow: hidden;
    border: 1px solid #c3c3c3;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px
}




#multibooker_warning p {
    margin-bottom: 1em
}



#good_judgement h3 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 7px
}

#good_judgement p {
    font-size: 14px;
    line-height: 1.4
}

.can_host_call h3 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px
}

.can_host_call span.addendum {
    float: right;
    margin-top: 8px
}

.can_host_call span.addendum label {
    color: #393C3D;
    width: auto;
    margin-top: -5px;
    float: left;
    width: 60px
}

.can_host_call span.addendum input {
    width: auto
}

.can_host_call span.suggestion {
    color: #AAA;
    display: block
}

.can_host_call span.timezone {
    margin: 5px 0 0;
    display: block
}










#concierge-lightbox {
    margin-top: 45px
}



#concierge-lightbox h1,#concierge-lightbox h2 {
    text-align: center;
    text-shadow: 1px 1px 0 #ffffff
}

#concierge-lightbox h1 {
    font-size: 50px;
    color: #F4801F
}

#concierge-lightbox h2 {
    font-weight: normal;
    color: #393c3d
}

#concierge-lightbox dt {
    color: #393c3d;
    font-weight: bold;
    margin-bottom: 1em
}

#concierge-lightbox dd {
    color: #848484;
    margin-bottom: 1em
}

#concierge-lightbox .button-glossy {
    margin-top: 1em
}

.policy_data {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    padding: 17px 20px
}

#message_to_host {
    margin-left: 1em;
    resize: vertical;
    width: 516px
}

#message-host {
    font-size: 1.2em
}

#message-host p {
    margin: 1em 0
}

.host-wrapper {
    float: left;
    width: 76px;
    word-wrap: break-word
}

.host-wrapper ._pm_container {
    margin-bottom: 5px
}

.host-wrapper .host-name {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

#notify_hosts_booked_elsewhere h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px
}

#notify_hosts_booked_elsewhere p {
    font-size: 16px;
    margin-bottom: 12px
}

#notify_hosts_booked_elsewhere textarea {
    display: none;
    float: left;
    clear: both;
    margin: 10px 0 15px;
    width: 610px;
    height: 65px
}

#notify_hosts_booked_elsewhere .add-message {
    float: left;
    margin-top: 15px
}



#notify_hosts_booked_elsewhere .add-message.open .arrow {
    background-position: -12px 0
}

#notify_hosts_booked_elsewhere .and-others {
    float: right;
    width: 100%;
    text-align: right;
    margin: 10px
}

#notify_hosts_booked_elsewhere .host-list li {
    float: left;
    width: 141px;
    padding: 7px
}

#notify_hosts_booked_elsewhere .host-list .and-others {
    width: 90px;
    margin-top: 19px
}

#notify_hosts_booked_elsewhere .host-list p {
    font-size: 1em;
    margin: 19px 0 0 7px;
    float: left;
    width: 76px
}

#notify_hosts_booked_elsewhere li {
    list-style-type: none
}

#notify_hosts_booked_elsewhere ._pm_container {
    margin-bottom: 0
}

.listing-infos-container {
    background: white;
    border: 1px solid #D9D9D6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 80px;
    margin-top: 15px
}

.listing-infos-container .overflow-auto {
    overflow: auto
}

.listing-infos-container .overflow-hidden {
    overflow: hidden
}

.listing-infos-container .left {
    float: left
}

.listing-infos-container .right {
    float: right
}

.listing-infos-container .address-box {
    width: 170px;
    border-right: 1px solid #D9D9D6;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 18px;
    height: 60px
}

.listing-infos-container .amentities-box {
    width: 179px
}

.listing-infos-container .amentities-box li {
    padding: 12px
}

.listing-infos-container .amentities-box li.alt {
    background-color: #FAFAFA;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px
}

.listing-infos-container .amentities-box li .property {
    font-weight: bold
}

.listing-infos-container .amentities-box li .value {
    padding-top: 1px
}

#cc_details b.error {
    color: red
}

#cc_details .pl10 {
    padding-left: 10px
}

#cc_details .hidden {
    display: none
}

#payment_method_cc_currency_amount {
    font-weight: bold
}

.or {
    padding: 0 10px 0 10px;
    font-weight: bold
}

.payment_tabs .payment_method_hidden,.payment_tabs_live .payment_method_hidden,.payment_method_hidden {
    display: none
}

.payment_tabs_live {
    margin-top: 1em;
    float: left;
    width: 620px;
    padding: 10px 0 0 0;
    overflow: hidden
}

ul.payment_methods_nav {
    margin: 0;
    padding: 3px 0 8px 0;
    border-bottom: 1px solid #d1d1c9;
    font-size: 14px;
    line-height: 16px
}

ul.payment_methods_nav li {
    list-style: none;
    margin: 0;
    display: inline
}

ul.payment_methods_nav li a {
    padding: 10px 13px 8px;
    margin-right: 3px;
    border: 1px solid #d1d1c9;
    border-bottom: none;
    background: #e0e0e0;
    text-decoration: none;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px
}

ul.payment_methods_nav li a:link {
    color: #5f5f56;
    -moz-box-shadow: inset 0 3px 7px 1px #c9c9c9
}

ul.payment_methods_nav li a:visited {
    color: #5f5f56
}

ul.payment_methods_nav li a:hover {
    color: #000000;
    background: #d4d4d4;
    border-color: #d1d1c9
}

ul.payment_methods_nav li.payment_method_active a {
    background-color: #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    color: #000000;
    -moz-box-shadow: none
}

ul.payment_methods_nav li.payment_method_active a:hover {
    color: #000000;
    background: #f8f8f8;
    border-bottom: 1px solid #f8f8f8
}

.payment_tabs_live .payment_method_content {
    padding: 19px 9px 20px;
    border: 1px solid #d1d1c9;
    border-top: 0;
    background: #f8f8f8;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0
}

.payment_tabs_live .payment_method_content h2 {
    display: none
}

.payment_tabs_live .payment_method_content h3 {
    display: none
}

.payment_tabs_live#tab2 .payment_method_content {
    height: 200px;
    overflow: auto
}
#payment_method_bank [type="text"]{
	border: 0!important;
	box-shadow: none!important;
	background:#fff!important;
}