
div.chzn-container select.chzn-single {
    background: -moz-linear-gradient(center bottom , #EEEEEE 0%, #FFFFFF 50%) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    color: #444444;
    display: block;
    height: 25px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 19;
}
div.chzn-container select.chzn-single span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.chzn-container select.chzn-single div {
    background: -moz-linear-gradient(center bottom , #CCCCCC 0%, #EEEEEE 60%) repeat scroll 0 0 #CCCCCC;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #AAAAAA;
    border-top-right-radius: 4px;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}
div.chzn-container select.chzn-single div b {
    background: url("/assets/chosen-sprite.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    width: 100%;
}
div.chzn-container div.chzn-search {
    margin: 0;
    padding: 3px 4px;
    position: relative;
    white-space: nowrap;
}
div.chzn-container-single-nosearch div.chzn-search input {
    left: -9000px;
    position: absolute;
}
div.chzn-container div.chzn-search input {
    background: url("/assets/chosen-sprite.png") no-repeat scroll 97% -35px, -moz-linear-gradient(center bottom , #FFFFFF 85%, #EEEEEE 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    margin: 1px 0;
    outline: 0 none;
}
