@font-face {
    font-family: 'NewsGothBdXCnBTBold';
    src: url('6933.eot');
    src: url('6933.eot') format('embedded-opentype'),
         url('6933.woff') format('woff'),
         url('6933.ttf') format('truetype'),
         url('6933.svg#NewsGothBdXCnBTBold') format('svg');
}
