@font-face {
    font-family: 'AG_HelveticaBold';
    src: url('ag-helvetica-bold-35361.eot');
    src: url('ag-helvetica-bold-35361.eot') format('embedded-opentype'),
         url('ag-helvetica-bold-35361.woff') format('woff'),
         url('ag-helvetica-bold-35361.ttf') format('truetype'),
         url('ag-helvetica-bold-35361.svg#AG_HelveticaBold') format('svg');
}
