@font-face {
    font-family: 'PFRondaSevenRegular';
    src: url('pf_ronda_seven.eot');
    src: url('pf_ronda_seven.eot') format('embedded-opentype'),
         url('pf_ronda_seven.woff') format('woff'),
         url('pf_ronda_seven.ttf') format('truetype'),
         url('pf_ronda_seven.svg#PFRondaSevenRegular') format('svg');
}
